<app-header></app-header>
    <div class="child-page-banner">       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="assets/images/pos-mn-bg.jpg" class="img-fluid">
                    <h2><span>POS Management System</span> for stand alone Restaurant, Bar, Cafe, Salon, Spa etc.  </h2>  
                </div>
            </div>
        </div>
    </div>
        <section class="main-wrap">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6">
                	<div class="bio-img">
                    	<img class="img-fluid" src="assets/images/pos-sm-1.jpg" alt="" />
                        <div class="overlay-bio"></div>
                    </div>
                </div>  
                <div class="col-md-6">
                	<div class="abt-txt">
                        <ul>
                            <li>A cloud based complete POS management system includes modules to manage Purchases, Purchases Return, Vendor, Sales, Customer, Sales Return, Bill of Materials (BOM), Receipts, Payments, Invoicing.</li>
                            <li>Based on the captured data this software application facilitates the management to obtain a wide range of analytical reports.</li>
                            <li>Since this is a cloud based application hence it allows the users to access from anywhere in the world through secured login credentials.</li>
                            <li>This application can also manage multiple POS under one ownership.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <app-get-startted></app-get-startted>
    <app-footer></app-footer>