<app-header></app-header>
    <div class="child-page-banner">       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="assets/images/ooh-bg.jpg" class="img-fluid" alt="Ooh advertising in india">
                    <h2>Out of Home <span>(OOH)</span> Advertising Management Application</h2>  
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
      <section class="gt-st">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ot-div">
                        <p>Basic package of this Cloud based software application, enables the business owners to optimize booking of their properties .

                            Additional modules facilitate to manage the cost components like payable & payout towards land lord, trading partners, JV Partners, electricity charges, flex printing charges, flex installation charges, local taxes, etc. along with Inward & Outward Invoice management.

                            Intensive analytical reports facilitates to get both real time as well as periodical scenarios at any level.</p>
                    </div>
                </div>
            </div>
        </div>  
    </section>
        <section class="main-wrap" id="about">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6">
                	<div class="bio-img">
                    	<img class="img-fluid" src="assets/images/ooh-1.jpg" alt="Product ooh advertising in kolkata" />
                        <div class="overlay-bio"></div>
                    </div>
                </div>  
                <div class="col-md-6">
                	<div class="abt-txt">
                    	<h3>Feature List for the <span>Basic Pack</span> (mainly for Booking i.e. Sales Optimisation)</h3>
                        <ul>
                            <li>Availability Check.</li>
                            <li>Booking of the Partial and/or Full Site(s).</li>
                            <li>Hold Site(s)</li>
                            <li>System generated release of Hold Site(s) after a defined time .</li>
                            <li>Forceful/Manual release of the Hold Sites as and when required .</li>
                            <li>Full Cancellation of a Booking .</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="row flex-row-reverse p-t">
            	<div class="col-md-6">
                	<div class="bio-img posi-rt">
                    	<img class="img-fluid" src="assets/images/ooh-2.jpg" alt="Kolkata ooh advertising" />
                        <div class="overlay-bio"></div>
                    </div>
                </div>  
                <div class="col-md-6">
                	<div class="abt-txt pt-5-sm">
                        <ul>
                            <li>Partial Cancellation of a Booking in terms of date .</li>
                            <li>Partial Cancellation of a Booking in terms of exclusion of site(s) .</li>
                            <li>Booking Extension in terms of extension of the date of the existing site(s) .</li>
                            <li>Booking Extension in terms of inclusion of new site(s) in an existing Booking</li>
                            <li>Manual Update of the status whether P.O. / W.O. to be received for each individual booking and system generated notifications / reminders based on the same </li>
                            <li>File Upload options against each Booking to store the soft copy of the P.O. / W.O. as received </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row p-t">
            	<div class="col-md-6">
                	<div class="bio-img">
                    	<img class="img-fluid" src="assets/images/ooh-3.jpg" alt="Best kolkata product ooh advertising" />
                        <div class="overlay-bio"></div>
                    </div>
                </div>  
                <div class="col-md-6">
                	<div class="abt-txt">
                    	<ul class="mt-tp">
                            <li>System generated Contract for each Booking based on the given transaction data in prescribed format as and when required </li>
                            <li>Manual Update of the status whether Sales Invoice has been generated for each individual booking and system generated notifications / reminders based on the same </li>
                            <li>File Upload options against each Booking to store the soft copy of the Sales Invoice as generated from the other system e.g. Tally or other accounting software application </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse p-t">
            	<div class="col-md-6">
                	<div class="bio-img posi-rt">
                    	<img class="img-fluid" src="assets/images/ooh-4.jpg" alt="Indian Ooh advertising company" />
                        <div class="overlay-bio"></div>
                    </div>
                </div>  
                <div class="col-md-6">
                	<div class="abt-txt pt-5-sm">
                        <ul>
                            <li>Options to keep track of multiple P.O. / W.O. to be received as well as multiple Sales Invoice to be generated pertaining to a single booking, which will be generally applicable for a substantial long period of time </li>
                            <li>Notifications and Reminders (email) upon end of Booking, Hold, Pending P.O. / W.O., Pending Sales Invoice to the specific Users (Role) as well as to the clients (if required) based on the day/time as specified by the client </li>
                            <li> Specify User Role and define access right to the Role by the Super Admin as per requirement </li>
                            <li>Registration of the multiple users and assigning of the each individual user to a specific role at any given point of time </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row p-t">
            	<div class="col-md-6">
                	<div class="bio-img">
                    	<img class="img-fluid" src="assets/images/ooh-5.jpg" alt=" Product ooh service in kolkata" />
                        <div class="overlay-bio"></div>
                    </div>
                </div>  
                <div class="col-md-6">
                	<div class="abt-txt">
                    	<ul class="mt-tp">
                            <li>10 No. of standard reports including system generated excel spread sheet along with PPT stating availability status for any given date range in the future and on real time along with Booking Status specially for the Trading and JV Sites </li>
                            <li>System generated email on daily basis to the specific email IDs mainly to the registered clients with PPT and Excel Spreadsheet stating the availability of the day </li>
                            <li>System generated Outward P.O. / W.O. upon Booking of Trading Sites </li>
                            <li>Booking of multiple Child Sites of an active Parent Site </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <app-get-startted></app-get-startted>
    <app-footer></app-footer>