<app-header></app-header>
<div class="child-page-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <img src="assets/images/banner/about-us-2.jpg" class="img-fluid">
                <h2> About Us</h2>

            </div>
        </div>
    </div>
</div>
<section class="section about_area">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <div class="flip-box ft-mg">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="assets/images/app-img.png" alt="Paris" style="width:100%;">
                </div>
                <div class="flip-box-back"> 
                    <img src="assets/images/app-img.png" alt="Paris" style="width:100%;">
                </div>
              </div>
            </div>
        </div>
       <div class="col-md-6">          
                <div class="custom_cms new-pra">
                    <div class="abt-txt">  
                        <h3 class="wow fadeInDown" data-wow-duration="2s">About Us</h3>
                        <p class="wow fadeInDown" data-wow-duration="2s">Experience, Excellence &amp; Commitment are the characteristics that describe FlamingosTech
                            which is located at the heart of the Kolkata, India.</p>
                        <p class="wow fadeInUp" data-wow-duration="2s">Flamingostech is a synthesis of functional and technical experts with extensive knowledge and
                            profound industrial experience. It has a team of highly skilled young professionals with the
                            passion and expertise in latest technologies. The team is guided by very senior resources,
                            who are in the industry for more than 30 years. Deploying these experts, FlamingosTech
                            design, develop and deliver feasibly advanced software applications to make the business of
                            its client grow at a rapid and consistent pace.
                        </p>
                        <p>Flamingostech ventured into the field with a mission to deliver robust effective Business Solutions in terms of development and implementation of customized Software Applications to the clients giving value for their money with guaranteed quality assurances.</p>
                        <p>Since the beginning, Flamingostech have been working with several clients belonging to the different segments of businesses providing them the uncompromising quality services which put their businesses on high pedestal of growth.</p>
                        <p>Flamingostech has reached in 3 continents to cater its clients along with a substantial number of domestic clients across India.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="custom_cms">
    <div class=" about_block_">
       <h2><span class="logo_text">Flamingos<span>Tech</span></span></h2>
       <h3 style="margin-bottom: 10px;">Provide Business Solutions</h3>
       <span class="d_block">&amp;</span>
       <h4>Develop Software</h4>
       <p>to accomplish your dream, to achieve your goal &amp; most importantly together with you</p>
   </div>
</section>
<section class="working-process-style2-area mt-3" style="background-image:url(assets/images/1.jpg);" id="working-proces">
    <div class="container">
        <div class="sec-title text-center">
            <div class="title">Our <span>Expertise</span></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="HTML5">
                    <img src="assets/images/html.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Css3">
                    <img src="assets/images/ex-2.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Java Script">
                    <img src="assets/images/ex-3.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="jQuery">
                    <img src="assets/images/ex-4.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Angular JS">
                    <img src="assets/images/ex-5.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Node JS">
                    <img src="assets/images/ex-6.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="React JS">
                    <img src="assets/images/ex-7.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="PHP">
                    <img src="assets/images/ex-8.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Java">
                    <img src="assets/images/ex-9.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="C#">
                    <img src="assets/images/ex-10.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="VB .Net">
                    <img src="assets/images/ex-11.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="ASP.NET">
                    <img src="assets/images/ex-12.png" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row mt-4"> 
            <div class="col-md-1"></div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Drupal">
                    <img src="assets/images/ex-13.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Wordpress">
                    <img src="assets/images/ex-14.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Laravel">
                    <img src="assets/images/ex-15.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Codeigniter">
                    <img src="assets/images/ex-25.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="MySQL">
                    <img src="assets/images/ex-16.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="SQLServer">
                    <img src="assets/images/ex-17.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="MongoDB">
                    <img src="assets/images/ex-18.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Oracle">
                    <img src="assets/images/ex-19.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Android">
                    <img src="assets/images/ex-20.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="iOS">
                    <img src="assets/images/ex-21.png" class="img-fluid">
                </div>
            </div>
    <div class="col-md-1 col-3 p-l-r mobile-device">
                <div class="d-fl-1" data-tip="Cordova">
                    <img src="assets/images/ex-22.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r mobile-device">
                <div class="d-fl-1" data-tip="AWS">
                    <img src="assets/images/ex-23.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4"></div>
            <div class="col-md-1 col-3 p-l-r desktop-device">
                <div class="d-fl-1" data-tip="Cordova">
                    <img src="assets/images/ex-22.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r desktop-device">
                <div class="d-fl-1" data-tip="AWS">
                    <img src="assets/images/ex-23.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Microsoft Azure">
                    <img src="assets/images/ex-24.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-1 col-3 p-l-r">
                <div class="d-fl-1" data-tip="Google Cloud Platform">
                    <img src="assets/images/ex-26.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>


<app-get-startted></app-get-startted>
<app-footer></app-footer>
