<app-header></app-header>
<div class="child-page-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <img src="assets/images/banner/about-us.jpg" class="img-fluid">
                <h2> About Us</h2>

            </div>
        </div>
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="custom_cms">
                    <div class="text">
                        <p>Experience, Excellence &amp; Commitment are the characteristics that describe FlamingosTech
                            which is located at the heart of the Kolkata, India.</p>
                        <p>FlamingosTech is a synthesis of functional and technical experts with extensive knowledge and
                            profound industrial experience. It has a team of highly skilled young professionals with the
                            passion and expertise in latest technologies. The team is guided by very senior resources,
                            who are in the industry for more than 30 years. Deploying these experts, FlamingosTech
                            design, develop and deliver feasibly advanced software applications to make the business of
                            its client grow at a rapid and consistent pace.</p>
                        <p>FlamingosTech ventured into the field with a mission to deliver robust effective Business
                            Solutions in terms of development and implementation of customized Software Applications to
                            the clients giving value for their money with guaranteed quality assurances.</p>
                        <p>Since the beginning, FlamingosTech have been working with several clients belonging to the
                            different segments of businesses providing them the uncompromising quality services which
                            put their businesses on high pedestal of growth.</p>
                        <p>FlamingosTech has reached in 3 continents to cater its clients along with a substantial
                            number of domestic clients across India.</p>
                        <div class="about_block_">
                            <h2><span class="logo_text">Flamingos<span>Tech</span></span></h2>
                            <h3 style="margin-bottom: 10px;">Provide Business Solutions</h3>
                            <span class="d_block">&amp;</span>
                            <h4>Develop Software</h4>
                            <p>to accomplish your dream, to achieve your goal
                                <br>&amp;
                                <br> most importantly together with you
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="our_technology">
                    <div class="teStackheadingCont">
                        <h3>Our Eexpertise</h3>
                    </div>
                    <div class="tech_cont clearfix">
                        <div class="tech_list clearfix">
                            <div class="tech_header"> <img src="assets/images/expertise/RIA-01.png"> Frontend </div>
                            <div class="tech_desc">
                                <div>HTML5</div>
                                <div>CSS3</div>
                                <div>Java Script</div>
                                <div>jQuery</div>
                                <div>Angular JS</div>
                                <div>Node JS</div>
                                <div>React JS</div>
                                <div>Redus</div>
                            </div>
                        </div>
                        <div class="tech_list clearfix">
                            <div class="tech_header"> <img src="assets/images/expertise/Languages-01.png"> Languages
                            </div>
                            <div class="tech_desc">
                                <div>PHP</div>
                                <div>Java</div>
                                <div>C#</div>
                                <div>VB .Net</div>
                            </div>
                        </div>
                        <div class="tech_list clearfix">
                            <div class="tech_header"> <img
                                    src="assets/images/expertise/Frameworks-and-components-01.png"> Frameworks </div>
                            <div class="tech_desc">
                                <div>ASP.NET</div>
                                <div>Drupal</div>
                                <div>Wordpress</div>
                                <div>Laravel</div>
                            </div>
                        </div>
                        <div class="tech_list clearfix">
                            <div class="tech_header"> <img src="assets/images/expertise/ODBC-01.png"> Database </div>
                            <div class="tech_desc">
                                <div>MySQL</div>
                                <div>SQLServer</div>
                                <div>MongoDB</div>
                                <div>Oracle</div>
                            </div>
                        </div>
                        <div class="tech_list clearfix">
                            <div class="tech_header"> <img src="assets/images/expertise/test-and-build-systems.png">
                                Smart Phone Application </div>
                            <div class="tech_desc">
                                <div>Android</div>
                                <div>iOS</div>
                                <div>Cordova</div>
                            </div>
                        </div>
                        <div class="tech_list clearfix">
                            <div class="tech_header"> <img src="assets/images/expertise/database.png"> Cloud Computing
                            </div>
                            <div class="tech_desc">
                                <div>AWS</div>
                                <div>Microsoft Azure</div>
                                <div>Google Cloud Platform</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-get-startted></app-get-startted>
<app-footer></app-footer>
