<app-header></app-header>
<div class="child-page-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <img src="assets/images/banner/service.jpg" class="img-fluid" alt="Top data management companies in india">
                <h2> Services</h2>

            </div>
        </div>
    </div>
</div>


<section class="services-style2-service-page">
    <div class="container">
        
        <div class="row">
            <!--Start single service style2-->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-style2 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="img-holder">
                        <img src="assets/images/service/ser-1.png" alt="Conceptual designs">
                        <div class="overlay-style-two"></div>
                    </div>
                    <div class="text-holder">
                         <div class="inner">
                            <h5>IT  Consulting:</h5>
                        <ul class="checklist">
                            <li>  Solution Consulting</li>
                            <li>  Application Lifecycle Support from Planning to Maintenance</li>
                            <li>  Platform Consulting</li>
                            <li>  Enterprise IT Consulting</li>
                            
                        </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-style2 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="img-holder">
                        <img src="assets/images/service/ser-2.png" alt="Conceptual designs">
                        <div class="overlay-style-two"></div>
                    </div>
                    <div class="text-holder">
                         <div class="inner">
                             <h5>Application Services:</h5>
                        <ul class="checklist">
                            <li>  Application Development</li>
                            <li>  Application Management</li>
                            <li>  Application Integration</li>
                            <li>  Application Modernisation</li>
                            <li>  Application Security Services</li>
                           
                        </ul>
                            
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-style2 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="img-holder">
                        <img src="assets/images/service/ser-3.png" alt="Conceptual designs">
                        <div class="overlay-style-two"></div>
                    </div>
                    <div class="text-holder">
                         <div class="inner">
                            <h5>Software Development:</h5>
                        <ul class="checklist">
                            <li>    Software Consulting</li>
                            <li>    Custom Software Development</li>
                            <li>    Software Product Development</li>
                          
                             </ul>
                           
                            
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-style2 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="img-holder">
                        <img src="assets/images/service/ser-4.png" alt="Conceptual designs">
                        <div class="overlay-style-two"></div>
                    </div>
                    <div class="text-holder">
                         <div class="inner">
                           <h5>Data Management:</h5>
                        <ul class="checklist">
                            <li>Data Management &amp; Governance</li>
                            <li>Data Governance and Metadata Management</li>
                            <li>Data Quality and Master Data Management</li>
                            <li>Data Warehousing</li>
                            <li>Business Intelligence</li>
                          
                          
                           
                        </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-style2 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="img-holder">
                        <img src="assets/images/service/ser-5.png" alt="Conceptual designs">
                        <div class="overlay-style-two"></div>
                    </div>
                    <div class="text-holder">
                         <div class="inner">
                            <h5>Application Support Services:</h5>
                        <ul class="checklist">
                            <li>    Level - 1 Support Services</li>
                            <li>    Level - 2 Support Services</li>
                            <li>    Level - 3 Support Services</li>
                           
                           
                        </ul>
                        
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="single-service-style2 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="img-holder">
                        <img src="assets/images/service/ser-6.png" alt="Conceptual designs">
                        <div class="overlay-style-two"></div>
                    </div>
                    <div class="text-holder">
                         <div class="inner">
                            <h5>Digital  Marketing:</h5>
                        <ul class="checklist">
                            <li>   Search Engine Optimization (SEO)</li>
                            <li>   Social Media&nbsp;Marketing (SMM)</li>
                            <li>   Search Engine Marketing (SEM)</li>
                            <li>    Pay-Per-Click Advertising (PPC)</li>
                            <li>    E-mail Marketing</li>
                           
                        </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            
           
        </div>
    </div>
</section>
<app-get-startted></app-get-startted>
<app-footer></app-footer>