<app-header></app-header>
<div class="child-page-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <img src="assets/images/banner/service.jpg" class="img-fluid">
                <h2> Services</h2>

            </div>
        </div>
    </div>
</div>


<section class="service-sec-body custom_cms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="s_box">
                            <h5>IT Consulting:</h5>
                            <ul class="checklist">
                                <li> Solution Consulting</li>
                                <li> Application Lifecycle Support : from Planning to Maintenance</li>
                                <li> Platform Consulting</li>
                                <li> Enterprise IT Consulting</li>

                            </ul>
                        </div>
                        <div class="text-holder">
                            <div class="icon-holder">
                                <img src="assets/images/service/it.jpg" class="img-fluid">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s_box">
                            <h5>Application Services:</h5>
                            <ul class="checklist">
                                <li> Application Development</li>
                                <li> Application Management</li>
                                <li> Application Integration</li>
                                <li> Application Modernisation</li>
                                <li> Application Security Services</li>

                            </ul>
                        </div>
                        <div class="text-holder">
                            <div class="icon-holder">
                                <img src="assets/images/service/application-service.jpg" class="img-fluid">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s_box">
                            <h5>Software Development:</h5>
                            <ul class="checklist">
                                <li> Software Consulting</li>
                                <li> Custom Software Development</li>
                                <li> Software Product Development</li>



                            </ul>
                        </div>
                        <div class="text-holder">
                            <div class="icon-holder">
                                <img src="assets/images/service/software.jpg" class="img-fluid">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s_box">
                            <h5>Data Management:</h5>
                            <ul class="checklist">
                                <li>Data Management &amp; Governance</li>
                                <li>Data Governance and Metadata Management</li>
                                <li>Data Quality and Master Data Management</li>
                                <li>Data Warehousing</li>
                                <li>Business intelligence</li>



                            </ul>
                        </div>
                        <div class="text-holder">
                            <div class="icon-holder">
                                <img src="assets/images/service/data.jpg" class="img-fluid">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s_box">
                            <h5>Application Support Services:</h5>
                            <ul class="checklist">
                                <li> Level - 1 Support Services</li>
                                <li> Level - 2 Support Services</li>
                                <li> Level - 3 Support Services</li>


                            </ul>
                        </div>
                        <div class="text-holder">
                            <div class="icon-holder">
                                <img src="assets/images/service/application.jpg" class="img-fluid">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="s_box">
                            <h5>Digital Marketing:</h5>
                            <ul class="checklist">
                                <li> Search Engine Optimization (SEO)</li>
                                <li> Social Media&nbsp;Marketing (SMM)</li>
                                <li> Search Engine Marketing (SEM)</li>
                                <li> Pay-Per-Click Advertising (PPC)</li>
                                <li> e-mail Marketing</li>

                            </ul>
                        </div>
                        <div class="text-holder">
                            <div class="icon-holder">
                                <img src="assets/images/service/digital.jpg" class="img-fluid">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-get-startted></app-get-startted>
<app-footer></app-footer>