<app-header></app-header>
    <div class="child-page-banner">       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="assets/images/retail-bg.jpg" class="img-fluid">  
                    <h2><span>Retail Chain</span> with Inventory Management System</h2>  
                </div>
            </div>
        </div>
    </div>
        <section class="main-wrap">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6">
                	<div class="bio-img">
                    	<img class="img-fluid" src="assets/images/retail-chain.jpg" alt="" />
                        <div class="overlay-bio"></div>
                    </div>
                </div>  
                <div class="col-md-6">
                	<div class="abt-txt">
                        <ul>
                            <li>This cloud based software application allows to manage retail outlets situated at different locations under one ownership along with multiple stock points.</li>
                            <li>Even a centralised control system with hierarchy of the users can control and monitor the entire operations.</li>
                            <li>It manages Purchases, Purchases Return, Vendor Accounts, Counter Sales, Sales Return, Customer Accounts, Receipts, Payments &amp; Inventory.</li>
                            <li>Real time reporting system with analytical interpretation enables the management to monitor regular activities at intensive level from anywhere in the globe.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <app-get-startted></app-get-startted>
    <app-footer></app-footer>