<section class="product-wrap">
    <div class="head-text">
        <h3>Our Products</h3>
        <p>Making software into strategic assets</p>
    </div>
    <div class="container">            
        <div class="row mt-5">   
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/ooh.jpg" alt="" />
                        <h3>Out of Home (OOH) Advertising Management Application</h3>
                        <a href="#" class="btn">Learn More</a>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/ecom.jpg" alt="" />
                        <h3>e-Commerce / Online Store Management Application</h3>
                        <a href="#" class="btn">Learn More</a>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/pos.jpg" alt="" />
                        <h3>Standalone Retail Outlet (POS) Management System</h3>
                        <a href="#" class="btn">Learn More</a>  
                    </div>
                </a>
            </div>         	
        </div>
        <div class="row mt-5">   
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/retail.jpg" alt="" />
                        <h3>Retail Chain with Inventory Management System</h3>
                        <a href="#" class="btn">Learn More</a>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/hotel_booking.jpg" alt="" />
                        <h3>Reservation Management System for Hotels with integrated Booking Engine</h3>
                        <a href="#" class="btn">Learn More</a>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/property_management.jpg" alt="" />
                        <h3>Property Management System for the Hotels</h3>
                        <a href="#" class="btn">Learn More</a>  
                    </div>
                </a>
            </div>         	
        </div>
        <div class="row mt-5">   
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/pos_management.jpg" alt="" />
                        <h3>POS Management System for stand alone Restaurant, Bar, Cafe, Salon, Spa etc.</h3>
                        <a href="#" class="btn">Learn More</a>
                    </div>
                </a>  
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/online.jpg" alt="" />
                        <h3>Online Market Place</h3>
                        <a href="#" class="btn">Learn More</a>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/exam.jpg" alt="" />
                        <h3>Online Examination Management System</h3>
                        <a href="#" class="btn">Learn More</a>  
                    </div>
                </a>
            </div>         	
        </div>
        <div class="row mt-5">   
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/survey.jpg" alt="" />
                        <h3>Market Survey Management with Analytical Reporting System</h3>
                        <a href="#" class="btn">Learn More</a>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/geo_location.jpg" alt="" />
                        <h3>Fleet / Employee Management System with Real Time Geo Location Tracking Facility</h3>
                        <a href="#" class="btn">Learn More</a>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="#">
                    <div class="pro-bx">
                        <img class="img-fluid" src="assets/images/event.jpg" alt="" />
                        <h3>Turnkey Project / Event Management Application with Accounting & Inventory Management System</h3>
                        <a href="#" class="btn">Learn More</a>  
                    </div>
                </a>
            </div>         	
        </div>
    </div>
</section> 
