<section class="product-wrap">
    <div class="head-text"> 
        <h3>Our Products</h3>
        <p>Making software into strategic assets</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/images/product.png" class="img-fluid wow fadeInDown" alt="Kolkata agency for digital advertising" data-wow-duration="2s">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-mn-div">
                            <div class="pr-icon wow fadeInUp" data-wow-duration="2s">
                                <img src="assets/images/ad-1.png" class="img-fluid" alt="">
                                <span><img src="assets/images/ad-1-span.png" class="img-fluid" alt="Ad agencies kolkata"></span>
                            </div>
                            <h2 class=" wow fadeInDown" data-wow-duration="2s">OUT OF HOME (OOH) ADVERTISING MANAGEMENT APPLICATION</h2>
                            <p class=" wow fadeInUp" data-wow-duration="2s">Basic package of this Cloud based software application, enables the business owners to optimize booking of their properties ... </p>
                            <a routerLink="/out-of-home" class="contact-a-tag cn-rd">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-mn-div">
                            <div class="pr-icon wow fadeInUp" data-wow-duration="2s">
                                <img src="assets/images/ad-2.png" class="img-fluid" alt="">
                                <span><img src="assets/images/ad-2-span.png" class="img-fluid" alt="Best Kolkata ad agency"></span>
                            </div>
                            <h2 class=" wow fadeInDown" data-wow-duration="2s">E-COMMERCE / ONLINE STORE MANAGEMENT APPLICATION</h2>
                            <p class=" wow fadeInUp" data-wow-duration="2s">A complete solution for those retail traders who are eager for market expansion at affordable cost...</p>
                            <a routerLink="/ecom-manage" class="contact-a-tag cn-rd">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-tp-pr">
                    <div class="col-md-6">
                        <div class="product-mn-div">
                            <div class="pr-icon wow fadeInUp" data-wow-duration="2s">
                                <img src="assets/images/ad-3.png" class="img-fluid" alt="">
                                <span><img src="assets/images/ad-3-span.png" class="img-fluid" alt="Kolkata Ad agency"></span>
                            </div>
                            <h2 class=" wow fadeInDown" data-wow-duration="2s">STANDALONE RETAIL OUTLET (POS) MANAGEMENT SYSTEM</h2>
                            <p class="wow fadeInUp" data-wow-duration="2s">This cloud based software application is capable to manage the entire operations of any kind of Retail Outlet. ... </p>
                            <a routerLink="/st-retail" class="contact-a-tag cn-rd">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-mn-div">
                            <div class="pr-icon wow fadeInUp" data-wow-duration="2s">
                                <img src="assets/images/ad-4.png" class="img-fluid" alt="">
                                <span><img src="assets/images/ad-4-span.png" class="img-fluid" alt="Best kolkata It ad agency"></span>
                            </div>
                            <h2 class=" wow fadeInDown" data-wow-duration="2s">RETAIL CHAIN WITH INVENTORY MANAGEMENT SYSTEM</h2>
                            <p class="wow fadeInUp" data-wow-duration="2s">This cloud based software application allows to manage retail outlets situated at different locations under....</p>
                            <a routerLink="/retail-chain" class="contact-a-tag cn-rd">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<section class="pr-bg">&nbsp;</section> 
      <section class="product-area">
            <div class="container-fluid">
                <div class="row"> 
                    <!--Start Single Featured Box-->
                    <div class="col-xl-3 col-lg-3">
                        <div class="single-featured-box wow slideInLeft" data-wow-duration="2s">  
                            <div class="inner clearfix">
                                <div class="img-holder">
                                    <img src="assets/images/hotel_booking.png" alt="Digital marketing ad agency kolkata
                                    ">
                                </div>
                                <div class="static-content">
                                    <div class="icon">
                                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                    </div>
                                    <div class="title">
                                        <h3>RESERVATION MANAGEMENT SYSTEM</h3>
                                    </div>
                                </div>
                                <div class="overlay-content">
                                    <div class="overlay-image">
                                        <img src="assets/images/featured-1-overlay.png" alt="">
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                    </div>
                                    <div class="title">
                                        <h3>RESERVATION MANAGEMENT SYSTEM</h3>    
                                    </div>
                                    <div class="text">
                                        <p>Reservation Management System for Hotels with integrated Booking Engine..<a routerLink="/rms">Read More</a></p>
<!--                                        <a class="btn-two" href="#">Read More<span class="flaticon-next"></span></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Featured Box-->
                    <!--Start Single Featured Box-->
                    <div class="col-xl-3 col-lg-3">
                        <div class="single-featured-box wow slideInRight" data-wow-duration="2s">
                            <div class="inner clearfix">
                                <div class="img-holder">
                                    <img src="assets/images/property_management.png" alt="Digital advertising agency in india">
                                </div>
                                <div class="static-content">
                                    <div class="icon">
                                        <i class="fa fa-laptop" aria-hidden="true"></i> 
                                    </div>
                                    <div class="title">
                                        <h3>PROPERTY MANAGEMENT SYSTEM FOR THE HOTELS</h3>
                                    </div>
                                </div>
                                <div class="overlay-content">
                                    <div class="overlay-image">
                                        <img src="assets/images/featured-1-overlay.png" alt="">
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-laptop" aria-hidden="true"></i> 
                                    </div>
                                    <div class="title">
                                        <h3>PROPERTY MANAGEMENT SYSTEM FOR THE HOTELS</h3>
                                    </div>
                                    <div class="text">
                                        <p>Reservation Management System with integrated Online Booking Engine..<a routerLink="/property-management-system">Read More</a></p>
<!--                                        <a class="btn-two" href="#">Read More<span class="flaticon-next"></span></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!--End Single Featured Box-->
                    <!--Start Single Featured Box-->
                    <div class="col-xl-3 col-lg-3">
                        <div class="single-featured-box wow slideInLeft" data-wow-duration="2s">
                            <div class="inner clearfix">
                                <div class="img-holder">
                                    <img src="assets/images/pos_management.png" alt="It company with Digital advertising service">
                                </div>
                                <div class="static-content">
                                    <div class="icon">
                                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                    </div>
                                    <div class="title">
                                        <h3>POS MANAGEMENT SYSTEM</h3>
                                        <!--<p style="color: #fff">POS Management System for stand alone Restaurant, Bar, Cafe, Salon, Spa etc...<a href="#">Read More</a></p>-->
                                    </div>
                                </div>
                                <div class="overlay-content">
                                    <div class="overlay-image"> 
                                        <img src="assets/images/featured-1-overlay.png" alt="">
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                    </div>
                                    <div class="title">
                                        <h3>POS MANAGEMENT SYSTEM</h3>
                                    </div>
                                    <div class="text">
                                        <p>POS Management System for stand alone Restaurant, Bar, Cafe, Salon, Spa etc..<a routerLink="/pos-management-system">Read More</a></p>
<!--                                        <a class="btn-two" href="#">Read More<span class="flaticon-next"></span></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Featured Box-->
                    <!--Start Single Featured Box-->
                    <div class="col-xl-3 col-lg-3">
                        <div class="single-featured-box wow slideInLeft" data-wow-duration="2s">
                            <div class="inner clearfix">
                                <div class="img-holder">
                                    <img src="assets/images/online-marketplace.png" alt="Indian Digital advertising agency">
                                </div>
                                <div class="static-content">
                                    <div class="icon">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </div>
                                    <div class="title">
                                        <h3>ONLINE MARKET PLACE</h3>
                                        <!--<p style="color: #fff">POS Management System for stand alone Restaurant, Bar, Cafe, Salon, Spa etc...<a href="#">Read More</a></p>-->
                                    </div>
                                </div>
                                <div class="overlay-content">
                                    <div class="overlay-image"> 
                                        <img src="assets/images/featured-1-overlay.png" alt="">
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </div>
                                    <div class="title">
                                        <h3>ONLINE MARKET PLACE</h3>
                                    </div>
                                    <div class="text">
                                        <p>This cloud based online market place allows to the business owner to provide..<a routerLink="/online-market-place">Read More</a></p>
<!--                                        <a class="btn-two" href="#">Read More<span class="flaticon-next"></span></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Featured Box-->
                </div>
            </div>
           
        </section>
      <section class="product-area-2">
        <div class="container">
            <div class="row mt-tp-pr">
                <div class="col-md-4">
                    <img src="assets/images/product1.png" class="img-fluid" alt="Ad agency in Kolkata">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-mn-div">
                                <div class="pr-icon wow fadeInUp" data-wow-duration="2s">
                                    <img src="assets/images/ad-5.png" class="img-fluid" alt="">
                                    <span><img src="assets/images/ad-5-span.png" class="img-fluid" alt="Creative advertising agency in kolkata"></span>
                                </div>
                                <h2 class="wow fadeInDown" data-wow-duration="2s">Online Examination Management System </h2>
                                <p class="wow fadeInUp" data-wow-duration="2s">The application is developed for people to take online examination by registering. The admin can set the price for each examination..... </p>
                                <a routerLink="/online-examination-management" class="contact-a-tag cn-rd">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product-mn-div">
                                <div class="pr-icon wow fadeInUp" data-wow-duration="2s">
                                    <img src="assets/images/ad-6.png" class="img-fluid">
                                    <span><img src="assets/images/ad-6-span.png" class="img-fluid" alt="Advertising agency with Creativity"></span>
                                </div>
                                <h2 class="wow fadeInDown" data-wow-duration="2s">Market Survey Management with Analytical Reporting System </h2>
                                <p class="wow fadeInUp" data-wow-duration="2s">This solution consists an android app, which is connected with a web application through same database in the same cloud server....</p>
                                <a routerLink="/market-survey-management" class="contact-a-tag cn-rd">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-tp-pr">
                        <div class="col-md-6">
                            <div class="product-mn-div">
                                <div class="pr-icon wow fadeInUp" data-wow-duration="2s">
                                    <img src="assets/images/ad-7.png" class="img-fluid">
                                    <span><img src="assets/images/ad-7-span.png" class="img-fluid" alt="Ad creative agency kolkata"></span>
                                </div>
                                <h2 class="wow fadeInDown" data-wow-duration="2s">Fleet / Employee Management System</h2>
                                <p class="wow fadeInUp" data-wow-duration="2s">The most ideal solution to manage the fleet or employee movement through this application.Android app in the handheld devices of the.... </p>
                                <a routerLink="/fleet-employee-management" class="contact-a-tag cn-rd">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product-mn-div">
                                <div class="pr-icon wow fadeInUp" data-wow-duration="2s">
                                    <img src="assets/images/ad-8.png" class="img-fluid">
                                    <span><img src="assets/images/ad-8-span.png" class="img-fluid" alt="Software company creative advertising"></span>
                                </div>
                                <h2 class="wow fadeInDown" data-wow-duration="2s">Turnkey Project / Event Management Application</h2>
                                <p class="wow fadeInUp" data-wow-duration="2s">This cloud based solution facilitates to manage each Project/ Event from the stage of Tender preparation till profitability....</p>
                                <a routerLink="/turnkey-projects" class="contact-a-tag cn-rd">Read More</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
