 <app-header></app-header>
    <div class="child-page-banner">       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="/assets/images/banner/career.jpg" class="img-fluid">
                    <h2>Careers</h2>  
<!--                    <p class="careers-work">Come & work with us</p>  -->
                    
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
      <section class="service-sec-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      
                     <div class="bnf_content">
                    <h5 class="sub_text">Working at FlamingosTech</h5>
                    <h2 class="main_heading">Open Roles</h2>
                    <p>Working at Flamingos is about doing a great job, in a great place, with great people. Keen to see more?</p>
                    <p>Take a sneak peek inside Flamingos, where you’ll find an incredibly diverse, intelligent and capable group of people who help make our company succeed and make our workplace fun, friendly and happy.</p>
                </div>
                  </div>
              </div>
              
          </div>
      </section>
      <section class="experence-sec">  
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                       <div class="row">
                           <div class="col-md-4">
                               <div class="role">
                                <div class="icon_role"> <img src="/assets/images/code.svg" alt=""> </div>
                                <h2>PHP Programmer</h2>
                                <p>3+ Years Experience</p>
                                <p>Develop the products and tools of the future for billions of users.</p>
                                 <a href="" class="apply" data-toggle="modal" data-target="#exampleModal">Apply <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg></a> 
                                </div>
                           </div>
                           <div class="col-md-4">
                               <div class="role">
                                <div class="icon_role"> <img src="/assets/images/code.svg" alt=""> </div>
                                <h2>PHP Programmer</h2>
                                <p>1+ Years Experience</p>
                                <p>Develop the products and tools of the future for billions of users.</p> 
                                <a href="" class="apply" data-toggle="modal" data-target="#exampleModal">Apply <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg></a> 
                            </div>
                           </div> 
                           <div class="col-md-4">
                              <div class="role">
                                <div class="icon_role"> <img src="/assets/images/android.svg" alt=""> </div>
                                <h2>Android Developer</h2>
                                <p>3+ Years Experience</p>
                                <p>Develop the products and tools of the future for billions of users.</p> 
                                <a href="" class="apply" data-toggle="modal" data-target="#exampleModal">Apply <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg></a> 
                            </div>
                           </div>
                           <div class="col-md-4">
                              <div class="role">
                                <div class="icon_role-new"> <img src="/assets/images/digital-marketting.jpg" alt=""> </div>
                                <h2>Digital Marketing</h2>
                                <p>3+ Years Experience</p>
                                <p>SEO, SMM, PPC, Email Marketing, display/banner ads, youtube promotion, leads generation, analytic.</p>
                                 <a href="javascript:void(0);" class="apply" data-toggle="modal" data-target="#exampleModal">Apply <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg></a>
                             </div>
                           </div>
                           <div class="col-md-4">
                              <div class="role">
                                <div class="icon_role-new"> <img src="/assets/images/webdesign.jpg" alt=""> </div>
                                <h2>Web Design</h2>
                                <p>3+ Years Experience</p>
                                <p>Angular 10, Node Js, Javascript, Jquery, Bootstrap4, Html5, Css3, Psd Layout Web/app, Wordpress.</p>
                                 <a href="" class="apply" data-toggle="modal" data-target="#exampleModal">Apply <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg></a> 
                                </div>
                           </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      

       
    <section class="gt-st">
        <div class="container">
            <h2 class="main-title clr-wht">Our Solutions</h2>
            <p class="main-title-p">Wide range of solutions for your every business requirement</p>
            <div class="row">
                <div class="col-md-12">
                    <div class="gt-btn">
                        <a href="#" class="gt-a-1">Request a Demo</a>
                        <a href="#" class="gt-a-2">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>  
    </section>

      
         <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Apply for this Job</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-left">
              
              <p>We care about your privacy by submitting your Application. </p>
              
              <form class="form" [formGroup]="applyForm" (ngSubmit)="applydata(applyForm.value)">
               <div class="row">
                  <div class="col-md-6">
                   <label for="name" class="input-label">Your Name</label>  
                  <div class="input-block">
                     <input type="text" name="name" id="name" formControlName="name" placeholder="Your Name"> 
                  </div>
                  </div>
                  <div class="col-md-6">
                      <label for="tel" class="input-label">Phone Number</label>
                  <div class="input-block">
                   
                      <input type="tel" name="tel" id="tel" formControlName="phone" placeholder="Phone Number"> 
                  </div>
                 
                  </div>
                  </div>
                   <label for="email" class="input-label">Your Email</label>
                  <div class="input-block">
                    
                      <input type="email" name="email" id="email" formControlName="email" placeholder="Your Email"> 
                  </div>
                     
                  
                  <div class="row">
                      <div class="col-md-6">
                          <div class="input-block">
                              <label for="tel" class="input-label">Apply for</label>
                              <input type="text" name="applyfor" id="applyfor" formControlName="applyfor" placeholder="Apply for"> </div>
                      </div>
                      <div class="col-md-6">
                          <div class="input-block">
                              <label for="tel" class="input-label">Experience</label>
                              <input type="text" id="experience" name="experience" class="form-control" formControlName="experience" placeholder="Your Experience"> </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-block">
                          <label for="tel" class="input-label">Upload file</label>
                          <input type="file" id="image" name="image" class="form-control" formControlName="image_file" (change)="onPhotoUpload($event)" style="padding:0;"> 
                      </div>
                  </div>
                      <div class="input-block">
                          <label for="password" class="input-label">Message</label>
                          <textarea class="" formControlName="message" placeholder="Message"></textarea>
                      </div>
                  <div class="modal-buttons">
                      <button type="submit" class="input-button">Send Mail</button>
                  </div>
              </form>
          </div>
                </div>
               
            </div>
            </div>
        </div>
       
      </div>
    </div>
  </div>
<app-footer></app-footer>