<app-header></app-header>
  <div class="child-page-banner">       
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 p-0">
                  <img src="assets/images/fleet-bg.jpg" class="img-fluid">
                  <h2><span>Fleet / Employee Management System</span> with Real Time Geo Location Tracking Facility with Analytical Reporting System  </h2>  
              </div>
          </div>
      </div>
  </div>
      <section class="main-wrap">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="bio-img">
                      <img class="img-fluid" src="assets/images/fleet-em-1.jpg" alt="" /> 
                  </div>
              </div>  
              <div class="col-md-6">
                  <div class="abt-txt">
                       <ul>
                          <li>The most ideal solution to manage the fleet or employee movement through this application.</li>
                          <li>Android app in the handheld devices of the users consistently captures geo location of the device and delivers to the cloud server. An integrated web application enables the Administrators/Management to track each and every device thus the employee/ vehicle on the basis of real time data.</li>
                          <li>Based on the captured data this application is capable to generate various real time and periodical reports like actual position, distance travelled, location visited, duration of work, duration present in particular location etc. This application can also be used as attendance management system , which can be used as an input data for any payroll management system.</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>   
  <app-get-startted></app-get-startted>
  <app-footer></app-footer>