<app-header></app-header>
<div class="child-page-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <img src="assets/images/banner/cookie-policy.jpg" class="img-fluid">
                <h2>Cookie Policy</h2>
            </div>
        </div>
    </div>
</div>
<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="privacy-text">

                    <p>This website uses web beacons (also known as action tags or single-pixel gifs), cookies, and
                        other technologies <span style="color: #009fb5;">(collectively, "cookies”).</span> By
                        visiting this website, you agree to our website's use of cookies as stated below. This
                        policy provides detailed information regarding different kind of cookies that we use for
                        different purposes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section product-menu">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="">
                    <div class="box_title"> What are cookies? </div>
                    <div class="box_text">
                        <p>Cookies are a small text files which get stored on your computer when you browse a
                            website or perform other online activities to serve users with customized experience.
                            Cookies can contain text and numbers too for example, dates. Cookies are not
                            applications and also do not contain viruses or equally harmful codes. They serve the
                            purpose of providing customized user experiences by storing specific information in your
                            browser itself based on your preferences, choices and activities on a particular
                            website. The information could be for e.g. history of your previous visits, login
                            information, and areas of the website you have visited.</p>
                        <p>Some cookies (so-called persistent cookies) are stored for a set period of time, and are
                            not deleted until the expiry of the period of time whereas other cookies (so-called
                            session cookies) are only stored during one browser session and deleted when the browser
                            is closed.</p>
                        <p>The flamingostech.com website uses the following cookies:</p>
                    </div>
                    <div class="box_title"> Website Cookies </div>
                    <div class="box_text">
                        <p>The cookie in connection with the date of your last visit is called a persistent cookie.
                            It stores information about your last visit date to the website and is used with
                            connection to statistics. This cookie is deleted as per browser settings.</p>
                    </div>
                    <div class="box_title"> Internet Advertising </div>
                    <div class="box_text">
                        <p>On Google-owned, operated anf affiliated sites, we display interest-based advertising
                            using information you make available to them when you interact with our/other websites,
                            content or services.</p>
                        <p>Interest-based ads, popularly referred to as personalised or targeted ads, are displayed
                            based on information relating to activities such as visiting a particular page on our
                            site, etc.</p>
                        <p>However, we do not associate your interaction with unaffiliated sites with your identity
                            in providing you with interest-based ads.</p>
                        <p>We do not provide any personal information to advertisers or to third party sites that
                            display our interest-based ads. However, advertisers and other third-parties (including
                            the ad networks, ad-serving companies, and other service providers they may use) may
                            assume that users who interact with or click on a personalized ad or content are part of
                            the group that the ad or content is directed towards.</p>
                        <p>Also, legitimate GDPR compliant third-parties may provide us information about you (such
                            as demographic information or sites where you have been shown ads) from offline and
                            online sources that we may use to provide you more relevant and useful advertising.</p>
                    </div>
                    <div class="box_title"> Third Party Cookies </div>
                    <div class="box_text">
                        <p>Third party advertising companies or advertisers working on their behalf sometimes use
                            technology to display the advertisements that appear on our sites directly to your
                            browser. This helps them recieve your IP automatically. The cookies may be used to
                            measure the effectiveness of their advertisements and to customize the advertising
                            content. We do not control over or access to cookies or other features that advertisers
                            and third-party sites may use, and the information practices of third-party websites and
                            the advertisers are not covered by our Privacy Notice or this Cookies & Internet
                            Advertising page. Please go through their privacy practices and cookie policy directly
                            from their website as has been described below.</p>
                    </div>
                    <div class="box_title"> Google Analytics </div>
                    <div class="box_text">
                        <p>Like most websites, this site too uses Google Analytics (GA) to track user interactions.
                            This data is used to determine the number of people who are using our site, how they
                            find it and to see their journey through our website by their web page views.</p>
                        <p>Although GA records data such as your geographical location, device, internet browser and
                            operating system, none of this information personally identifies you to us. GA also
                            records your computer’s IP address which could be used to personally identify you but
                            Google do not grant us access to this.</p>
                        <p>How GA makes use of cookies, can be found on Google's developer guides.</p>
                        <p>Disabling cookies on your internet browser will stop GA from tracking any part of your
                            visit to pages within this website.</p>

                    </div>
                    <div class="box_title"> Google Tag Manager </div>
                    <div class="box_text">
                        <p>We use Google Tag Manager (GTM) to constantly improve the customer experience on our
                            website. It helps to provide visitors with more personalized and targeted offerings and
                            campaigns.</p>
                        <p>GTM is a little snippet of code that helps us track user behaviour across our sites and
                            then pushes the data to our Google Analytics account. Then, all the data is perfectly
                            organized and ready for us to assess and review for potential site improvements and
                            remarketing campaigns. Learn more about here Google Tag Manager.</p>
                    </div>
                    <div class="box_title"> Facebook Pixels Ads </div>
                    <div class="box_text">
                        <p>To track user interaction, this website uses a very common third-party cookie ,
                            i.e.,Facebook Pixel (FP) . It helps to create Facebook Custom Audiences on Facebook
                            based on mobile numbers and email addresses to deliver advertisements to website
                            visitors. It also allows us to use this information to display advertisements from our
                            customers to their target audience of users.</p>
                        <p>We use this data to determine the number of people using this website, to better
                            understand how they find and use our web pages and to see their journey through the
                            website.</p>

                    </div>
                    <div class="box_title"> How can I avoid the use of cookies on the Website? </div>
                    <div class="box_text">
                        <p>Irrespective of the browser you are using, you can change the browser settings to disable
                            the storage of cookies. However, some browsers will allow you to do this change in the
                            setting only for certain websites. Know how you can disable it here.</p>
                        <div class="box_title"> How can I delete cookies? </div>
                        <div class="box_text">
                            <p>Cookies can be deleted from your browser settings. You can find help either within
                                the browser settings or on the browsers' WebPages.</p>
                        </div>
                        <div class="box_title"> Further information and right to complain </div>
                        <div class="box_text">
                            <p>If you have any queries concerning this website's use of cookies, or if you require
                                any further information, or have any complaints about the website's use of cookies,
                                you may contact: www.flamingostech.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-get-startted></app-get-startted>
<app-footer></app-footer>