<section class="gt-st">
    <div class="container">
        <h2 class="main-title clr-wht">Our Solutions</h2>
        <p class="main-title-p">Wide range of solutions for your every business requirement</p>
        <div class="row">
            <div class="col-md-12">
                <div class="gt-btn">
                    <a routerLink="/demo" routerLinkActive="active" class="gt-a-1">Request a Demo</a>
                    <a routerLink="/contact-us" class="gt-a-2">Contact Us</a>
                </div>
            </div>
        </div>
    </div>  
</section>
