<app-header></app-header>
    <div class="child-page-banner">       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="/assets/images/team-bg.jpg" class="img-fluid">
                    <h2>Our<span> Team</span></h2>  
                </div>  
            </div>
        </div>
    </div>
    <section class="team-sec">
        <div class="head-text">
            <h3>Our Team</h3>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/mr-bagchi.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Subhra Bagchi</h3>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://www.linkedin.com/in/subhrabagchi/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/utpal_mukhopadhyay.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Utpal Mukhopadhyay</h3>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://www.linkedin.com/in/utpal-mukhopadhyay-43672b17" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/subhasis_de.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Subhasish De</h3>  
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://www.linkedin.com/in/dsubhasish/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
               <!-- <div class="col-md-4">  
                    <div class="team-im-txt">
                        <img src="assets/images/mr-bagchi.jpg" class="img-fluid">
                        <span>Subhra Bagchi</span>  
                    </div>
                </div>
                <div class="col-md-4">  
                    <div class="team-im-txt">
                        <img src="assets/images/utpal_mukhopadhyay.jpg" class="img-fluid">
                        <span>Utpal Mukhopadhyay</span>  
                    </div>
                </div>
                <div class="col-md-4">  
                    <div class="team-im-txt">
                        <img src="assets/images/subhasis_de.jpg" class="img-fluid">
                        <span>Subhasish De</span>  
                    </div>
                </div>-->
            </div>
            <div class="row mt-5">
                <div class="col-md-2 col-6">
                    <div class="team-ch-div">
                        <div class="team-child">
                           <img src="assets/images/saptak_das.jpg" class="img-fluid"> 
                           <p>Saptak Das</p>
                            <div class="team-overlay">
                                <a href="https://www.linkedin.com/in/saptak-das-9571139b" target="_blank"><i class="fa fa-linkedin"></i></a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/Subhasish-Jana.jpg" class="img-fluid"> 
                       <p>Subhasish Jana</p> 
                       <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/subhasish-jana-a78561237" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/partha_sakha_adhikary.jpg" class="img-fluid"> 
                       <p>Partha Sakha Adhikary</p>
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/partha-sakha-adhikary-32a25211b" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/durba.jpg" class="img-fluid"> 
                       <p>Durba Santara</p> 
                        <div class="team-overlay">
                            <a href="http://linkedin.com/in/durba-santara-52526a141" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/Ashoke-Malakar.jpg" class="img-fluid"> 
                       <p>Ashoke Malakar</p> 
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/ashoke-malakar-a39586211" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/aritra-kundu.jpg" class="img-fluid"> 
                       <p>Aritra Kundu</p>
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/aritra-k-401a91131" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/Debarati-Ghoshal.jpg" class="img-fluid"> 
                       <p>Debarati Ghoshal</p>
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/debarati-ghoshal-84ab58215" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/payel.jpg" class="img-fluid"> 
                       <p>Payel Biswas</p>
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/payel-biswas-526b9a228/" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/pramit_kumar_das.jpg" class="img-fluid"> 
                       <p>Pramit kumar Das</p> 
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/pramit-das-89a46a171/" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/pritam-koley.jpg" class="img-fluid"> 
                       <p>Pritam Koley</p> 
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/pritam-koley-1aab12227/" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/jayanta-maity.jpg" class="img-fluid"> 
                       <p>Jayanta Maity</p>
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/jayanta-maity-405b6023a" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/Rajesh-Maiti.jpg" class="img-fluid"> 
                       <p>Rajesh Maiti</p> 
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/rajesh-maiti" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/saikat.jpg" class="img-fluid"> 
                       <p>Saikat Mitra</p>
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/saikat-mitra-ab1393203/" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/amrita-bagchi.jpg" class="img-fluid"> 
                       <p>Amrita Bagchi</p> 
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/amrita-bagchi-117022213/" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/arya.jpg" class="img-fluid"> 
                       <p>Arya Dasgupta</p> 
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/arya-dasgupta-a2b59a16a/" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/arshad_ayub.jpg" class="img-fluid"> 
                       <p>Arshad Ayub</p> 
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/arshad-ayub-415b9a228" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/sanjit-thakur.jpg" class="img-fluid"> 
                       <p>Sanjit thakur</p> 
                        <div class="team-overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/rana-da.jpg" class="img-fluid"> 
                       <p>Rana chatterjee</p> 
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/rana-chatterjee-76888921a" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="assets/images/Sanchary-Day.jpg" class="img-fluid"> 
                       <p>Sanchary Dey</p> 
                        <div class="team-overlay">
                            <a href="https://www.linkedin.com/in/sanchary-dey-627b8323a/" target="_blank"><i class="fa fa-linkedin"></i></a>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-get-startted></app-get-startted>
    <app-footer></app-footer>

