<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/jquery.bxslider.css">
    <link href="/assets/css/menu.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>Flamingostech</title>
  </head>
  <body>

<app-header></app-header>

    <div class="child-page-banner">       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="/assets/images/team-bg.jpg" class="img-fluid">
                    <h2>Our<span> Team</span></h2>  
                </div>  
            </div>
        </div>
    </div>
    <section class="team-sec">
        <div class="head-text">
            <h3>Our Team</h3>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-4">  
                    <div class="team-im-txt">
                        <img src="/assets/images/mr-bagchi.jpg" class="img-fluid">
                        <span>Subhra Bagchi</span>  
                    </div>
                </div>
                <div class="col-md-4">  
                    <div class="team-im-txt">
                        <img src="/assets/images/utpal_mukhopadhyay.jpg" class="img-fluid">
                        <span>Utpal Mukhopadhyay</span>  
                    </div>
                </div>
                <div class="col-md-4">  
                    <div class="team-im-txt">
                        <img src="/assets/images/subhasis_de.jpg" class="img-fluid">
                        <span>Subhasish De</span>  
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/saptak_das.jpg" class="img-fluid"> 
                       <p>Saptak Das</p> 
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/partha_sakha_adhikary.jpg" class="img-fluid"> 
                       <p>Partha Sakha Adhikary</p> 
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/suparna_barai.jpg" class="img-fluid"> 
                       <p>Suparna Barai</p> 
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/durba.jpg" class="img-fluid"> 
                       <p>Durba Santara</p> 
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/rohit-chanda.jpg" class="img-fluid"> 
                       <p>Rohit Chanda</p> 
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/souvik-mandal.jpg" class="img-fluid"> 
                       <p>Soubhik Mondal</p> 
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/swapan.jpg" class="img-fluid"> 
                       <p>Swapan Kanrar</p> 
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/payel.jpg" class="img-fluid"> 
                       <p>Payel Biswas</p> 
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/pramit_kumar_das.jpg" class="img-fluid"> 
                       <p>Pramit kumar Das</p> 
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/pritam-koley.jpg" class="img-fluid"> 
                       <p>Pritam Koley</p> 
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/subhojit_kumar.jpg" class="img-fluid"> 
                       <p>Subhojit kumar</p> 
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/soham-mitra.jpg" class="img-fluid"> 
                       <p>Soham Mitra</p> 
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-2 col-6">
                    <div class="team-child">
                       <img src="/assets/images/saikat.jpg" class="img-fluid"> 
                       <p>Saikat Mitra</p> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gt-st">
        <div class="container">
            <h2 class="main-title clr-wht">Our Solutions</h2>
            <p class="main-title-p">Wide range of solutions for your every business requirement</p>
            <div class="row">
                <div class="col-md-12">
                    <div class="gt-btn">
                        <a href="#" class="gt-a-1">Request a Demo</a>
                        <a href="#" class="gt-a-2">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <app-footer></app-footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
      <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.bxslider.js"></script>
    <script src="assets/js/menu.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>