<app-header></app-header>
    <div class="child-page-banner">       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0"> 
                    <img src="assets/images/turkey-bg.jpg" class="img-fluid">
                    <h2><span>Turnkey Project / Event Management Application</span> with Accounting & Inventory Management System </h2>    
                </div>
            </div>
        </div>
    </div>
        <section class="main-wrap">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6">
                	<div class="bio-img">
                    	<img class="img-fluid" src="assets/images/event-sm-1.jpg" alt="" /> 
                    </div>
                </div>  
                <div class="col-md-6">
                	<div class="abt-txt">
                         <ul>
                            <li>This cloud based solution facilitates to manage each Project/ Event from the stage of Tender preparation till profitability and productivity analysis of each resources.</li>
                            <li>AIt manages Budgeting, Procurement, Project Progress, Consumption, Human Resource Deployment, Inventory, Accounting and many more.</li>
                            <li>This application enables the management to keep track on every project both at micro and macro level. Profitability of the each Project as well as of the Organisation as a whole along with Expenses incurred towards every resources and Productivity of that resource can be ascertained at any given point of time. Project Progress can be monitored, Accounting can be managed and last but not the least optimum utilisation of the Inventory is possible by using this application.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <app-get-startted></app-get-startted>
    <app-footer></app-footer>