<app-header></app-header>
<div class="child-page-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <img src="assets/images/banner/privacy-policy.jpg" class="img-fluid">
                <h2>Privacy Policy</h2>
            </div>
        </div>
    </div>
</div>
<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="privacy-text">
                    <p>This policy declaration pertains to the web site “www.FlamingosTech.com” hereinafter referred to
                        as <span style="color: #009fb5;">“FlamingosTech”</span> or “this Web site” or "this site".</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section  product-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="box_title"> Welcome </div>
                    <div class="box_text">
                        <p>This site is owned by "FlamingosTech". FlamingosTech would like to safeguard the information
                            you provide to us about yourself. This Privacy Policy is designed to tell you about our
                            practices regarding collection, use, and disclosure of information that you may provide via
                            this site. Please be sure to read this entire Privacy Policy before using, or submitting
                            information, to this site. Use of this site constitutes your consent to our Privacy Policy.
                        </p>
                    </div>
                    <div class="box_title"> Intellectual copyright </div>
                    <div class="box_text">
                        <p>All information displayed, transmitted or carried on www.FlamingosTech.com is protected by
                            copyright and other intellectual property laws. You may not, under any circumstances,
                            modify, publish, distribute, repost, perform, display or in any way commercially exploit any
                            of the content on this web site.</p>
                    </div>
                    <div class="box_title"> Your Consent </div>
                    <div class="box_text">
                        <p>By using this site, you agree with the terms of this Privacy Policy. Whenever you submit
                            information via this site, you consent to the collection, use, and disclosure of that
                            information in accordance with this Privacy Policy.</p>
                    </div>
                    <div class="box_title"> Active Information Collection </div>
                    <div class="box_text">
                        <p>Like many Web sites, this site actively collects information from its visitors by permitting
                            you to communicate directly with us via e-mail and a form namely “Leave us a Message”. Some
                            of the information that you submit may be personally identifiable information (that is,
                            information that can be uniquely identified with you, such as your full name, address,
                            e-mail address, phone number, and so on). Some areas of this site may require you to submit
                            information in order for you to benefit from the specified features (such as newsletter
                            subscriptions, order processing, submitting a resume). You will be informed at each
                            information collection point what information is required and what information is optional.
                        </p>
                    </div>
                    <div class="box_title"> Passive Information Collection </div>
                    <div class="box_text">
                        <p>As you navigate through a Web site, certain information can be passively collected (that is,
                            gathered without your actively providing the information) using various technologies and
                            means, such as navigational data collection.</p>

                        <p>This site may use Internet Protocol (IP) addresses. An IP Address is a number assigned to
                            your computer by your Internet service provider so you can access the Internet and is
                            generally considered to be non-personally identifiable information, because in most cases an
                            IP address is dynamic (changing each time you connect to the Internet), rather than static
                            (unique to a particular user's computer). We may use your IP address to diagnose problems
                            with our server, report aggregate information, determine the fastest route for your computer
                            to use in connecting to our site, and administer and improve the site.</p>

                    </div>
                    <div class="box_title"> Use and Disclosure of Information </div>
                    <div class="box_text">
                        <p>FlamingosTech would like to safeguard the information you provide to us about yourself. This
                            Privacy Policy is designed to tell you about our practices regarding collection, use, and
                            disclosure of information that you may provide via this site. Please be sure to read this
                            entire Privacy Policy before using, or submitting information, to this site. Use of this
                            site constitutes your consent to our Privacy Policy.</p>
                    </div>
                    <div class="box_title"> Links from Other Web Sites </div>
                    <div class="box_text">
                        <p>Web sites that have links on our site may collect personally identifiable information about
                            you. The data protection practices of those Web sites linked to FlamingosTech are not
                            covered by this policy statement. You are advised to check the data protection policies of
                            these third party Web sites yourself before using those sites.</p>
                    </div>
                    <div class="box_title"> Security </div>
                    <div class="box_text">
                        <p>We take reasonable steps to protect your personally identifiable information as you transmit
                            your information from your computer to our site and to protect such information from loss,
                            misuse, and unauthorized access, disclosure, alteration, or destruction. However, no data
                            transmissions over the internet can be guaranteed to be 100% secure. As a result, while we
                            strive to protect your personal information, we cannot ensure or warranty the security of
                            any information you transmit to us via the internet, and you do so at your own risk. Once we
                            have received your transmission, we will use our best efforts to ensure its security on our
                            systems.</p>
                    </div>
                    <div class="box_title"> Disclaimer </div>
                    <div class="box_text">
                        <p>The materials on this Web site may contain inaccuracies and typographical errors.
                            FlamingosTech does not warrant the accuracy or completeness of the data or materials or the
                            reliability of any advice, opinion, statement or other information displayed or distributed
                            through this Web site. You acknowledge that any reliance on any such opinion, advice,
                            statement, memorandum, or information shall be at your sole risk. FlamingosTech reserves the
                            right, in its sole discretion, to correct any error or omission in any portion of the site.
                            FlamingosTech may make any other changes to the site, the materials and the products,
                            programs, services or prices described in this Web site at any time without notice.</p>
                        <p>The FlamingosTech Web site, the information and materials on this Web site, and the software
                            made available on this Web site, are provided "As Is" without any representation or
                            warranty, express or implied, of any kind, including, but not limited to, warranties of
                            merchantability, non-infringement, or fitness for any particular purpose, some jurisdictions
                            do not allow for the exclusion of implied warranties, so the above exclusions may not apply
                            to you.</p>
                    </div>
                    <div class="box_title"> Other Terms </div>
                    <div class="box_text">
                        <ol class="numbering">
                            <li>to contractors we use to support our business (e.g., fulfillment services, technical
                                support, delivery services, and financial institutions), in which case we will require
                                such third parties to agree to treat it in accordance with this Privacy Policy;</li>
                            <li>in connection with the sale, assignment, or other transfer of the business of this site
                                to which the information relates, in which case we will require any such buyer to agree
                                to treat it in accordance with this Privacy Policy; or</li>
                            <li>where required by applicable laws, court orders, or government regulations. In addition,
                                we will make full use of all information acquired through this site that is not in
                                personally identifiable form.</li>
                        </ol>
                    </div>
                    <div class="box_title"> How to Contact Us? </div>
                    <div class="box_text">
                        <p>If you have any questions, comments, or concerns about this Privacy Policy or the information
                            practices of this site, please use "contact us" link on this Web site.</p>
                    </div>
                    <div class="box_title"> Changes to This Privacy Policy </div>
                    <div class="box_text">
                        <p>If this Privacy Policy changes, the revised policy will be posted on this site. Please check
                            back periodically, and especially before you provide any personally identifiable
                            information.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-get-startted></app-get-startted>
<app-footer></app-footer>