<section class="service-sec">
    <div class="container">
        <h2 class="main-title clr-wht">Our Solutions</h2>
        <p class="main-title-p">Wide range of solutions for your every business requirement</p>
        <div class="row mar-top">
            <div class="offset-lg-1 col-lg-10 col-md-12">
                <div class="service-box">
                    <div class="service-icon">
                        <div class="inner-circle">
                            <img class="img-fluid" src="assets/images/icon1.png" alt="" /> 
                        </div>
                    </div>
                    <div class="service-txt">
                        <h3>Cloud based custom ERP & CRM Application</h3>
                        <p>Enterprise Resource Planning (ERP) and Customer Relationship Management (CRM) are similar in many ways, as they are both used to increase the overall profitability of a business....</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="service-box fl-rt">
                    <div class="service-icon">
                        <div class="inner-circle">
                            <img class="img-fluid" src="assets/images/icon2.png" alt="" />
                        </div>
                    </div>
                    <div class="service-txt">
                        <h3>E-Commerce Application</h3>
                        <p>e-Commerce has completely revolutionized the process of online shopping and has transformed the way consumers purchase their goods and services online. It helps buyers, sellers and end users to connect to each other.....</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="service-box">
                    <div class="service-icon">
                        <div class="inner-circle">
                            <img class="img-fluid" src="assets/images/icon3.png" alt="" />
                        </div>
                    </div>
                    <div class="service-txt">
                        <h3>Android & iOS Mobile App</h3>
                        <p>The growing use of smartphones and tablets across the world has been stimulated by the popularity of mobile applications. These self contained software programs have alleviated our lives considerably by providing products and services that were in the sphere of science fiction in the not too distant past....</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="service-box fl-rt">
                    <div class="service-icon">
                        <div class="inner-circle">
                            <img class="img-fluid" src="assets/images/icon4.png" alt="" />
                        </div>
                    </div>
                    <div class="service-txt">
                        <h3>Responsive Website with CMS</h3>
                        <p>Internet usage on mobile devices (like smartphones and tablets) is rising, and people now spend more time surfing the Web on these devices than they do on their desktop computers....</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="service-box">
                    <div class="service-icon">
                        <div class="inner-circle">
                            <img class="img-fluid" src="assets/images/icon5.png" alt="" />
                        </div>
                    </div>
                    <div class="service-txt">
                        <h3>Digital Marketing</h3>
                        <p>We all are aware that the world is quickly moving from traditional to digital way of functioning.....</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="service-box fl-rt">
                    <div class="service-icon">
                        <div class="inner-circle">
                            <img class="img-fluid" src="assets/images/icon6.png" alt="" />
                        </div>
                    </div>
                    <div class="service-txt">
                        <h3>Data Management</h3>
                        <p>Data management is the most crucial piece of a successful data analytics technology platform that helps drive operational decision-making and strategic planning by corporate executives....</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
