body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: normal;
}
@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-ExtraLight.woff2') format('woff2'),
        url('../fonts/Muli-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
:focus-visible{
    border: none;
}
a:hover{
    text-decoration: none !important;
}
/* team */
.team-child p {
    font-size: 15px;
    margin: 10px 0px 0px;
    font-weight: 600;
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-bottom:10px;
    
}

.blog .carousel-indicators .active {
background: #707070;
margin-bottom:10px;
}

.our-team-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.our-team-section:before {
  position: absolute;
  top: -0;
  left: 0;
  content: " ";
  background: url(img/service-section-bottom.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}
.our-team {
  padding: 0 0 40px;
  background: #f9f9f9;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #00325a;
}
.our-team:hover {
  border-bottom: 5px solid #2f2f2f;
}

.our-team .pic {
  display: inline-block;
  width: 130px; 
  height: 130px;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
}
.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #00325a;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before {
  height: 100%;
  background: #2f2f2f;
}
.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after {
  background: #145889;
}
.our-team .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
  position: relative;
  z-index: 2;
}
.our-team:hover .pic img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}
.our-team .team-content {
  margin-bottom: 0px;
}
.our-team .title {
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.our-team .post {
  display: block;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
}
.our-team .social {
    width: 100%;
    padding-top: 10px;
    margin: 0;
    /* background: #2f2f2f; */
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    padding-left: 0;
}
.our-team:hover .social {
  bottom: 0;
}
.our-team .social li {
  display: inline-block;
}
.our-team .social li a {
    display: block;
    padding-top: 4px;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s ease 0s;
    /* padding: 4px; */
    background: #00325a;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* margin-top: -21px; */
    position: relative;
    top: -4px;
}
.our-team .social li a:hover {
  color: #145889;
  background: #f7f5ec;
}
/* team */
.desktop-device{
    display: block;
}
.mobile-device{
    display: none;
}
.logo-sf{
    padding-right: 0 !important;
}
.mn-mr{
    margin-top: 79px; 
    color: #1952c5;
    font-size: 19px;
    font-weight: bold;
}
.pt-5-sm {
    padding-top: 30px !important;
}
.p-l-r {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.form-check {
    position: relative;
    display: block;
    /* padding-left: 1.25rem; */
    padding-left: 33px !important;
}
.team-child{
    position: relative;
    overflow: hidden; 
}
.team-overlay {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    margin: 0 auto;
    border-radius: 50%;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}
.team-child:hover .team-overlay{
    width: 100px;
    height: 100px;
    opacity: 1;
}
.team-overlay a {
    line-height: 96px;
    color: #009fb5;
    display: inline-block;
    font-size: 35px;
} 
.team-child:hover p{
    color: #009fb5;
}

/*expertise*/
.d-fl-1 {
    border-radius: 10px;
    background: linear-gradient( 
135deg, rgba(168,0,119,1) 0%, rgba(30,202,229,1) 0%, rgba(16,51,146,1) 59%, rgba(16,51,146,1) 100%);
    border: 7px solid #fff;
    box-shadow: 0px 0px 10px #000;
    position: relative;
}
.d-fl-1 img{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px; 
    margin: 0 auto;
}
.d-fl-1::before {
    left: 50%;
    opacity: 0;
    position: absolute;
    z-index: -100;
    border-style: solid;
    border-width: 1em .75em 0 .75em;
    border-color: #3e474f transparent transparent transparent;
    bottom: 100%;
    content: "";
    margin-left: -.5em;
    transition: all .65s cubic-bezier(.84,-.18,.31,1.26),opacity .65s .5s;
    transform: scale(.6) translateY(-90%);
}
.d-fl-1:hover::before{
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 100;
}
.d-fl-1::after {
    left: 50%;
    opacity: 0;
    position: absolute;
    z-index: -100;
    background: #3e474f;
    border-radius: .25em;
    bottom: 110%;
    color: #edeff0;
    content: attr(data-tip);
    margin-left: -73px;
    padding: 1em;
    transition: all .65s cubic-bezier(.84,-.18,.31,1.26) .2s;
    transform: scale(.6) translateY(50%);
    width: 10.5em;
    text-align: center;
    font-size: 14px;
}
.d-fl-1:hover::after{
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 100;
    transition: all .65s cubic-bezier(.84,-.18,.31,1.26);
}
.p-l-r{
    padding-left: 5px;
    padding-right: 5px;
}
/*expertise*/
.checklist li{
    text-align: left;
    list-style: circle;
}
.inner h5 {
    color: #269fb5;
    text-align: left;
}
.bx-wrapper {
    position: relative;
    margin-bottom: 0;
    margin-top: -9px;
}
.copy_right p {
    margin: 0;
    color: #000;
    font-weight: 600;
    font-size: 12px;
}
.copy_right p a{
    color: #fff;
    font-weight: 600;
    font-size: 13px;    
}
.contact-a-tag{
    padding: 7px 15px;
    margin-top: 13px;
    background: #009fb5;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 9;
}
.contact-a-tag:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    border-radius: 5px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: -1;
    
}
.contact-a-tag:hover::before{
    -webkit-transform: scaleX(1); 
    transform: scaleX(1);
}
.contact-a-tag:hover{
    color: #009fb5;  
}
/*about*/
.section {
    padding: 30px 0px;
}
.flip-box {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    margin-top: -72px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} 

.flip-box-front {
  /*background-color: #bbb;*/
  color: black;
}

.flip-box-back {
  /*background-color: #555;
  color: white;*/
  transform: rotateY(180deg);
}
.about_area{
    padding: 0px 0px 30px;
}
.abt-txt p{
    font-size: 14px;
    color: #828282;
    padding: 0;
    margin: 0;
    text-align: justify;
    line-height: 24px;
}
/*about*/
.overlay-bio {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 90%;
    content: "";
    background: rgba(0, 0, 0, 0.70);
    transform: scaleX(0);
    border: 4px solid #009fb5;
    transition: all 700ms ease 100ms;
    z-index: 3;
}
.bio-img:hover .overlay-bio{
    opacity: 1;
    transform: scaleY(1);
}
.product-mn-div {
    margin-bottom: 15px;
}
.ft-mg{
    margin-top: 40px !important;
}
.text-slide p { 
    margin-top: -23px;
}
.dg-image {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.dg-overlay{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.70);
    transform: scaleX(0);
    border: 4px solid #009fb5;
    transition: all 700ms ease 100ms;
    z-index: 3;
}
.dg-image:hover .dg-overlay{
    opacity: 1;
    transform: scaleY(1);
}
.section{
    padding: 30px 0px;
}
.checklist li{
    color: #000;
}
.checklist{
    padding-left: 20px;
}
/*hover-new-css*/
/******************header****************/
.header{
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	animation: smoothScroll 1s forwards;
	width: 100%;
	background: #fff;
	z-index: 999;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
/*hover-new-css*/
/*product-area*/
.product-area{
    position: relative;
    display: block;
    z-index: 10;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important; 
    margin-top: -67px;
}
.single-featured-box{
    position: relative;
    display: block;
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 2px 0px 9px #000;
}
.single-featured-box .inner{
    position: relative;
    display: block;
    background: #009fb5;
    transition: all 300ms ease 100ms;
}
.single-featured-box .inner .img-holder {
	position: relative;
	display: block;
	width: 230px;
	height: 237px;
	float: right;
}
.single-featured-box .inner .static-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
	padding-top: 125px;
	padding-left: 16px;
	opacity: 1;
	visibility: visible;
	z-index: 1;
	transform: translateY(0px);
	transition: all 500ms ease 100ms;
}
.single-featured-box:hover .inner .static-content{
    opacity: 0;
    visibility: hidden;
    transform: translateY(50%);
    transition: all 900ms ease 100ms;  
}

.single-featured-box .icon{
    position: relative;
    display: block;
    padding-bottom: 0px;
}
.single-featured-box .icon span:before{
    color: #ffffff;
    font-size: 60px;
    line-height: 60px;
}
.single-featured-box .title{
    position: relative;
    display: block;    
}
.single-featured-box .title h3 {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    /* text-shadow: 2px 1px 0px #000; */
    background: rgba(0,0,0,0.8);
    padding: 5px 10px;
}   

.single-featured-box .inner .overlay-content {
    position: absolute;
    top: -50px;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 3;
    background: #27282c;
    transition: all 300ms ease 100ms;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 500ms ease 100ms;
}
.single-featured-box:hover .inner .overlay-content{
    opacity: 1;  
    visibility: visible; 
    transform: translateY(0%);
    transition: all 900ms ease 100ms;  
}
.single-featured-box .inner .overlay-content .icon span:before{
    color: #e9212e;
}
.single-featured-box .inner .overlay-content .text{
    position: relative;
    display: block; 
    padding-top: 18px;
    padding-bottom: 0px;
}
.single-featured-box .inner .overlay-content .text p{
    color: #ffffff;
    margin: 0 0 26px;
}
.single-featured-box .inner .overlay-content .text a{
    color: #124edd;    
}

.single-featured-box .overlay-content .overlay-image{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 255px;
    height: 00px;
    opacity: 0;
    transform: scale(0.5);
    transition: all 500ms ease 100ms;
}
.single-featured-box:hover .overlay-content .overlay-image{
    opacity: 1;
    height: 270px;
    transform: scale(1.0); 
    transition: all 900ms ease 500ms;  
}
.img-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icon i {
	font-size: 42px;
	line-height: 60px;
	color: #fff;
}
.pr-bg{
    height: 151px;
    background: linear-gradient(135deg, rgba(168,0,119,1) 0%, rgba(30,202,229,1) 0%, rgba(16,51,146,1) 59%, rgba(16,51,146,1) 100%);
}
/*product-area*/
.product-mn-div{
    position: relative;
}
.pr-icon{
	width: 80px;
	height: 80px;
	border-radius: 50%;
    border: 1px solid #009fb5;
    transition: all ease-in-out 0.3s;
    position: relative;
}
.pr-icon img {
    width: 52%;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    position: relative;
    top: 20px;
}
.product-mn-div:hover .pr-icon{
    background: linear-gradient(135deg, rgba(168,0,119,1) 0%, rgba(30,202,229,1) 0%, rgba(16,51,146,1) 59%, rgba(16,51,146,1) 100%);
    border: none;
}
.pr-icon span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all ease-in-out 0.3s;  
}
.product-mn-div:hover .pr-icon span{
    opacity: 1; 
}
.product-mn-div p{
    color: #8b8b99;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}
.product-mn-div h2{
    font-size: 17px;
    font-weight: 700;
    margin-top: 11px;
    transition: all ease-in-out 0.3s;
}
.product-mn-div:hover h2{
    color: #009fb5; 
}
.mt-tp-pr{
    margin-top: 37px;
}
.banner-content-div{
    position: absolute;
    width: 100%;
    top: 0;
}
.checklist li{
    text-align: left;
    list-style: circle;
}
.inner h5 {
    color: #269fb5;
    text-align: left;
    font-weight: 700;
}
.bx-wrapper {
    position: relative;
    margin-bottom: 0;
    margin-top: -9px;
}
.copy_right p {
    margin: 0;
    color: #000;
    font-weight: 600;
    font-size: 12px;
}
.copy_right p a{
    color: #fff;
    font-weight: 600;
    font-size: 13px;    
}
.contact-a-tag{
    padding: 7px 15px;
    margin-top: 13px;
    background: #009fb5;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 9;
}
.contact-a-tag:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    border-radius: 5px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: -1;
    
}
.contact-a-tag:hover::before{
    -webkit-transform: scaleX(1); 
    transform: scaleX(1);
}
.contact-a-tag:hover{
    color: #009fb5;  
}
/*about*/
.flip-box {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    margin-top: -72px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} 

.flip-box-front {
  /*background-color: #bbb;*/
  color: black;
}

.flip-box-back {
  /*background-color: #555;
  color: white;*/
  transform: rotateY(180deg);
}
/* .about_area{
    padding: 0px 0px 30px;
} */
.abt-txt p{
    font-size: 14px;
    color: #828282;
    padding: 0;
    margin: 0;
    text-align: justify;
    line-height: 24px;
}
/* .abt-txt p {
    font-size: 17px;
    color: #828282;
    padding: 0;
    margin: 0;
    text-align: justify;
    line-height: 25px;
} */
/*about*/
.overlay-bio {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 90%;
    content: "";
    background: rgba(0, 0, 0, 0.70);
    transform: scaleX(0);
    border: 4px solid #009fb5;
    transition: all 700ms ease 100ms;
    z-index: 3;
}
.bio-img:hover .overlay-bio{
    opacity: 1;
    transform: scaleY(1);
}
.product-mn-div {
    margin-bottom: 15px;
}
.ft-mg{
    margin-top: 40px !important;
}
.text-slide p { 
    margin-top: 0px;
} 
.text-slide ul{
    padding: 0;
}
/*top-bar*/
.top-bar-style2{
    position: relative;
    display: block;
    background: #009fb5;
    padding: 0px 50px;
}
.top-style2 {
    display: flow-root;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.top-style2-left{
    position: relative;
    display: block;    
}
.top-style2-left p{
    position: relative;
    display: inline-block;
    float: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-style2-left p span:before{
    position: relative;
    top: 3px;
    color: #e9212e;
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    padding-right: 9px;
}
.top-style2-left ul{
    position: relative;
    display: inline-block;
    float: left;
    padding-left: 20px;
    margin: 0;
}
.top-style2-left ul li{
    position: relative;
    display: inline-block;
    float: left;
    padding-right: 16px;
    margin-right: 14px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}
.top-style2-left ul li a{
    text-decoration: none;
    color: #fff;
}
.top-style2-left ul li:last-child{
    padding-right: 0;
    margin-right: 0;
}
.top-style2-left ul li:before{
    position: absolute;
    top: 7px;
    right: 0;
    width: 1px;
    height: 15px;
    background: #fff;
    content: "";
}
.top-style2-left ul li:last-child:before{
    display: none;
}
.top-style2-right {
    position: relative;
    display: block;
    overflow: hidden;
    float: right;
}
.top-style2-right .top-right-menu {
    position: relative;
    display: inline-block;
    float: left;
    padding-right: 20px;
    margin-right: 20px;
}
.top-style2-right .top-right-menu:before{
    position: absolute;
    top: 7px;
    right: 0;
    width: 1px;
    height: 15px;
    background: #404043;
    content: "";    
}
.top-style2-right .top-right-menu li{
    position: relative;
    display: inline-block;
    float: left;
    line-height: 30px;
    padding-right: 30px;
}
.top-style2-right .top-right-menu li:last-child{
    padding-right: 0;
}
.top-style2-right .top-right-menu li a{
    color: #7c7e84;
    font-size: 15px; 
    transition: all 500ms ease;
}
.top-style2-right .top-right-menu li a:hover{
    color: #e9212e;
}

.top-style2-right .topbar-social-links{
    position: relative;
    display: inline-block;
    float: right;    
    margin: 0;
}
.top-style2-right .topbar-social-links li{
    position: relative;
    display: inline-block;
    float: left;
    line-height: 30px;
    padding-right: 30px;    
}
.top-style2-right .topbar-social-links li:last-child{
    padding-right: 0;
}
.top-style2-right .topbar-social-links li a i{
    color: #fff;
    font-size: 14px;
    transition: all 500ms ease;
}
.top-style2-right .topbar-social-links li a:hover i{
    color: #000;
}
/*hover-new-css*/
.logo a svg {
    height: 63px;
    width: 30px;
    position: absolute;
    left: 0;
    top: -28px;
}
.logo a h1 {
    font-family: Oswald, sans-serif;
    font-size: 25.4px;
    color: #009eb4;
    text-transform: uppercase;
    line-height: 20px;
    margin: 29px 0 0;
    padding-left: 16px;
    font-weight: 600;
    padding-top: 2px;
}
.logo a h1 span {
    color: #000;
}
.logo a h6 {
    font-family: 'Muli';
    font-size: 8.6px;
    color: #000;
    margin: 0;
    line-height: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 17px;
}
.logo {
    position: relative;
}
.contact-btn{
    float: right;
}
.contact-a-tag{
    padding: 7px 15px;
    margin-top: 13px;
    background: #009fb5;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
}
.r-pd{
    padding: 0px 20px;
}
.header .navbar{
    float: right;   
}
.header .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    padding: 15px 25px 0px;
    text-transform: uppercase;
}
.menu-div{
    float: right;
}
/******************header****************/
/******************banner****************/
.slick-prev, .slick-next {
    display: none !important;
}
.banner{
    padding: 5px 0px 0px; 
    position: relative;
}
.banner-text h1 {
    font-size: 47px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}
.banner-text h1 span {
    color: #000;
}
.text-slide p{
    font-size: 28px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.text-slide p span{
    color: #fff;
}
.bx-viewport {
    -webkit-transform: translateZ(0);
    /*height: 477px !important;*/
}
.bx-wrapper {
    box-shadow: inherit;
    border: none;
    background: #fff;
}
.banner-text{
        margin-top: 100px;
}
.bx-wrapper .bx-pager {
    display: none;
}
.text-slide{
    margin-top: 25px;
}
/******************banner****************/
/******************start solution****************/
.sol-img{
    width: 60%;
    /*float: left;*/
}
.sol-box{
    width: 40%;
    /*float: right;  */
    background-color: transparent;
    transition: all ease-in-out 0.3s;
}
.sol-box p {
    height: 187px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    font-size: 20px;
    color: #000;
    line-height: 23px;
    margin: 0;
}
.solu-div {
    position: relative;
    display: inline-block;
    width: 100%;
}
.solu-div:hover .sol-bg-1{
    background-color: #65a6ce;
}
.solu-div:hover .sol-bg-2{
    background-color: #a6dae8;
}
.solu-div:hover .sol-bg-3{
    background-color: #66c3ff;
}
.solu-div:hover .sol-bg-4{
    background-color: #3aa4ce;
}
.head-text{
    text-align: center;
}
.head-text h3{
    font-size: 44px;
}
.head-text p{
    font-size: 19px;
}
/******************end solution**  **************/
/******************start about us****************/
/******************end about us****************/
.light-blue{
    padding: 50px 0px;
    background: #f3f3f3;  
}

/******************end about us****************/
/******************start service-sec****************/
.service-sec{	
	background: rgba(168,0,119,1);
	background: -moz-linear-gradient(-45deg, rgba(168,0,119,1) 0%, rgba(30,202,229,1) 0%, rgba(16,51,146,1) 59%, rgba(16,51,146,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(168,0,119,1)), color-stop(0%, rgba(30,202,229,1)), color-stop(59%, rgba(16,51,146,1)), color-stop(100%, rgba(16,51,146,1)));
	background: -webkit-linear-gradient(-45deg, rgba(168,0,119,1) 0%, rgba(30,202,229,1) 0%, rgba(16,51,146,1) 59%, rgba(16,51,146,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(168,0,119,1) 0%, rgba(30,202,229,1) 0%, rgba(16,51,146,1) 59%, rgba(16,51,146,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(168,0,119,1) 0%, rgba(30,202,229,1) 0%, rgba(16,51,146,1) 59%, rgba(16,51,146,1) 100%);
	background: linear-gradient(135deg, rgba(168,0,119,1) 0%, rgba(30,202,229,1) 0%, rgba(16,51,146,1) 59%, rgba(16,51,146,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80077', endColorstr='#103392', GradientType=1 );
	padding: 50px 0;
	}
.service-box {
	padding: 0 50px;
	/*margin-bottom: 45px;*/
}	
.service-icon{
	float: left;
	margin-right:40px;
	width: 260px;
	height: 260px;
	border-radius: 50%;	
	padding:15px;
	border:1px dashed #fff;
	position:relative;
	text-align:center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
	}
.service-icon::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: -webkit-linear-gradient(40deg, #1c46df 0%, #18d8f6 100%);
	border-radius: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
    z-index: 9;
}
.service-icon:hover::before{
    -webkit-transform: scale(2);
    transform: scale(2); 
}
.inner-circle{
	width: 100%;
	height:100%;
	border-radius: 50%;
	background: rgb(26,176,215);
	background: -moz-radial-gradient(center, ellipse cover, rgba(26,176,215,1) 54%, rgba(26,176,215,1) 54%, rgba(23,154,205,1) 54%, rgba(23,154,205,1) 77%, rgba(25,170,212,1) 77%, rgba(23,154,205,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(26,176,215,1) 54%,rgba(26,176,215,1) 54%,rgba(23,154,205,1) 54%,rgba(23,154,205,1) 77%,rgba(25,170,212,1) 77%,rgba(23,154,205,1) 100%);
	background: radial-gradient(ellipse at center, rgba(26,176,215,1) 54%,rgba(26,176,215,1) 54%,rgba(23,154,205,1) 54%,rgba(23,154,205,1) 77%,rgba(25,170,212,1) 77%,rgba(23,154,205,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ab0d7', endColorstr='#179acd',GradientType=1 );
	}	
.inner-circle img{
	position:absolute;
	left:0;
	right:0;
	margin: 0 auto;
	top:50%;
	transform: translateY(-50%);
	display:inline-block;
    z-index: 99; 
	}
.service-txt{
	/*overflow:hidden;*/
	padding:35px 0;
	}
.service-txt h3{
	font-size: 36px;
	font-weight:500;
	color:#fff;
	font-family: 'Lato', sans-serif;
	margin:0;
	padding:0;
	}
.service-txt p{
	color:#fff;
	margin:15px 0 0;
	padding:0;
	}
.service-txt a{
	font-size:14px;
	font-weight:400;
	color:#fff;
	padding:5px 20px;
	background-color: #1ecae5;
	display: inline-block;
	border-radius:2px;
	margin:15px 0 0;
	}
.fl-rt .service-icon{
	float:right;
	margin-right:0;
	margin-left:40px;	
	}
.fl-rt .service-icon .inner-circle{
	background: rgb(58,132,195);
	background: -moz-radial-gradient(center, ellipse cover, rgba(58,132,195,1) 0%, rgba(58,132,195,1) 0%, rgba(69,100,208,1) 0%, rgba(58,132,195,1) 50%, rgba(56,96,198,1) 50%, rgba(55,92,195,1) 70%, rgba(38,86,182,1) 70%, rgba(38,86,182,1) 70%, rgba(38,86,182,1) 70%, rgba(38,76,176,1) 70%, rgba(56,95,198,1) 100%, rgba(41,78,188,1) 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, rgba(58,132,195,1) 0%,rgba(58,132,195,1) 0%,rgba(69,100,208,1) 0%,rgba(58,132,195,1) 50%,rgba(56,96,198,1) 50%,rgba(55,92,195,1) 70%,rgba(38,86,182,1) 70%,rgba(38,86,182,1) 70%,rgba(38,86,182,1) 70%,rgba(38,76,176,1) 70%,rgba(56,95,198,1) 100%,rgba(41,78,188,1) 100%);
	background: radial-gradient(ellipse at center, rgba(58,132,195,1) 0%,rgba(58,132,195,1) 0%,rgba(69,100,208,1) 0%,rgba(58,132,195,1) 50%,rgba(56,96,198,1) 50%,rgba(55,92,195,1) 70%,rgba(38,86,182,1) 70%,rgba(38,86,182,1) 70%,rgba(38,86,182,1) 70%,rgba(38,76,176,1) 70%,rgba(56,95,198,1) 100%,rgba(41,78,188,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a84c3', endColorstr='#294ebc',GradientType=1 );
	}
.fl-rt .service-txt{
	text-align: right;
	}
.main-title {
	font-size: 48px;
	font-weight: 600;
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
}
.main-title-p{
    color: #fff;
    text-align: center; 
}
/******************end service-sec****************/
/******************start product-sec****************/
.pro-bx{
	position: relative;
	}
.pro-bx img{
	width: 100% !important;
	}
.pro-bx h3{
	color: #fff;
	font-size:20px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	position: absolute;
	left:15px;
	top:15px;
	text-transform: uppercase;
	}
.pro-bx a.btn {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	padding: 8px 20px;
	background-color: #009fb5;
	position: absolute;
	left: 0;
	bottom: -18px;
	border-radius: 0;
}
.product-wrap{
    padding: 30px 0px 57px;
    background: #eee;
}
/*.overlay-pro {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    background: #009fb563;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all ease-in-out 0.4s;
}
.pro-bx:hover .overlay-pro{
    width: 100%;
    height: 100%;
    opacity: 1;
}*/
/******************end product-sec****************/ 
/******************start gt-st****************/ 
.gt-st {
    padding: 30px 0px;
    background: linear-gradient( rgb(0 159 181 / 52%) 100%, rgb(0 159 181)100%),url(../images/bg-cta.jpg);
}
.gt-btn{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.gt-a-1 {
    display: inline-block;
    text-align: center;
    padding: 13px 50px;
    background: #fff;
    border-radius: 7px;
    color: #fff;
    margin-right: 12px;
    width: 260px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative; 
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.gt-a-1:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 7px;
}
.gt-a-1:hover{
    color: #000;
}
.gt-a-1:hover:before{
     -webkit-transform: scaleY(0);
    transform: scaleY(0);
}
.gt-a-2{
    display: inline-block;
    text-align: center;
    padding: 13px 50px;
    background: #000;
    border-radius: 7px;
    color: #000;
    width: 260px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative; 
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.gt-a-2:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 7px;
}
.gt-a-2:hover{
    color: #fff;
}
.gt-a-2:hover:before{
     -webkit-transform: scaleY(0);
    transform: scaleY(0);
}


/******************start gt-st****************/ 
/*****************out-off-ooh-page***********/
.child-page-banner {
    position: relative;
}
.child-page-banner h2 {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	text-align: center;
	font-size: 34px;
	color: #fff;
	text-transform: uppercase;
	/* text-shadow: 0 0 30px #000000; */
	font-weight: 900;
	padding: 20px 9px;
} 
.child-page-banner h2 span {
    color: #000;
}
.what-is-bio{
    position: relative;
    padding: 0px 0px 50px;
}
.what-is-bio{
    position: relative;
    padding: 0px 0px 50px;
}
.why-img {
    position: absolute;
    top: -33px;
    left: -105px;
}
.why-img h3 {
    position: absolute;
    top: 35px;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 73px;
    color: #fff;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 30px #766c6c;
}
.why-img h3 span {
    display: block;
    color: #27a724;
    line-height: 21px;
    font-size: 37px;
    text-align: right;
} 
.wh-right{
    margin-top: -82px;
}
.wh-right img{
    box-shadow: 0px 0px 10px #504a4a;
}
.wh-right p{
    font-size: 15px;
    color: #000;
    line-height: 20px;
    margin-top: 13px;  
}
.rd-mr-wh {
    padding: 5px 16px;
    display: inline-block;
    color: #fff;
    background: #27a724;
    border-radius: 10px;
}
.js-ul{
    padding: 0px 25px;
}
.js-ul li {
    list-style: circle;
    font-weight: 500;
    color: #000;
}
.js-p{
    font-size: 20px !important;
    padding: 0px 0px 10px !important;
} 
.bio-img {
    position: relative;
    left: -120px;
    width: 110%;
    padding-top: 50px;
}
.bio-img:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: url(../images/project-description-pattern.jpg) no-repeat;
    width: 660px;
    height: 220px;
    z-index: -1;
}
.abt-txt h3{
    color: #009fb5;
    font-weight: 600;
    font-size: 26px;
}
.main-wrap{
    padding: 30px 0px;
}
.abt-txt ul li {
    padding: 10px 0px;
    font-size: 17px;
    list-style: disc;
    color: #212529;
}
.abt-txt ul{
    padding-left: 35px;
}
.posi-rt {
    right: -65px;
    left: inherit;
}
.posi-rt:before {
    right: 0;
    left: inherit;
}
.mt-tp{
    margin-top: 17px;
}
.ot-div p{
    text-align: center;
    color: #fff;
    margin: 0;
}
/*****************out-off-ooh-page***********/
/******************start footer****************/
.footer{
    padding: 30px 52px;
}
.footer h4{
    text-transform: uppercase;
    color: #333;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.footer ul{
    padding: 0;
    margin: 0;
}
.footer ul li{
    list-style: none;
}
.footer ul li a{
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #626262;
    display: block;
    position: relative;
    margin: 0px 0px 10px;
}
.footer ul li a:hover{
    color: #009fb5;
}
.footer ul li a::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #c6c6c6;
    position: absolute;
    left: -15px;
    top: 8px;
}
.social_bottom ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 2px;
}
.social_bottom ul li a svg {
    fill: #666;
}
.social_bottom ul li a {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #ccc;
    line-height: 27px;
    text-align: center;
    transition: all .5s ease;
} 
.social_bottom ul li a:before{
    display: none;
}
.bottom-footer li a:before{
    display: none !important;
}
.footer p{
    font-size: 12px;
    line-height: 20px;
    color: #626262;
}
.rating-logo {
    width: 15%;
    float: left;
    margin: 0px 0px;
}
.rating-div {
    width: 82%;
    float: left;
    margin-left: 3%;
}
.fl-head {
    font-size: 19px !important;
    font-weight: 600;
    padding: 8px 0px;
    margin: 0;
}
.footer_nav ul {
    padding: 0;
    margin: 0;
}
.rating-div .rating-ul li {
    display: inline-block;
    font-size: 16px;
    color: #f5a107;
    padding: 0px 2px;
}
.review-p {
    font-size: 15px !important;
    color: #8c8585 !important;
    margin: 0;
}
.powered-by {
    padding: 6px 0px;
    margin: 0;
}
.revew-us-btn {
    padding: 10px 5px;
    background: #009fb5;
    display: inline-block;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
}
.rating-ul p{
    margin: 0;
}
.rating-div a:hover{
    color: #fff;
}
.footer_bottom {
    color: #fff;
    border-top: 1px solid #eaeaea;
    line-height: 0px;
    padding: 20px 15px;
    /* min-height: 75px; */
    font-size: 12px;
    background: #009fb5;
}
.copy_right {
    float: left;
}
.copy_right p{
    margin: 0;
}
.support_link {
    float: right;
}
.support_link ul {
    padding: 0;
    margin: 0;
}
.support_link ul li {
    list-style-type: none;
    display: inline-block;
}
.support_link ul li a {
    display: block;
    padding: 0 10px;
    color: #ffffff;
}
.ft-company {
    width: 50%;
    float: left;
}
.ft-company {
    width: 50%;
    float: left;
}
.pr-ul li{
    padding: 5px 0px;
}
/******************end footer****************/
/******************start request-demo page****************/
.rq-demo {
    margin-top: 100px;
    padding: 0px 0px 30px;
}
.rq-div {
    width: 60%;
    display: block;
    margin: 0 auto;
    border-radius: 6px 6px 0 0;
    background-color: #fff;
    box-shadow: 0px 3px 10px #b1b1b1;
    padding: 20px 0px;
}
.rq-div h3{
    text-align: center;
}
.rq-div h3 span{
    display: block;
    font-size: 13px;
    color: #9f9f9f;
    padding: 9px 0px 0px;
    font-weight: 500;
}
.row_div {
    width: 100%;
    padding: 10px 20px 0px;
    display: inline-block;
}
.div_check-1 {
    width: 48%;
    float: left;
    margin-right: 2%;
}
.div_check-2 {
    width: 50%;
    float: left;
}
.form-check {
    padding: 13px 6px;
    border: 1px solid #8b7c7c;
    border-radius: 6px;
    position: relative; 
}
.step-button{
    width: 100%;
    background: #009fb5;
    padding: 8px 10px;
    margin-top: 14px;
    float: left;
}
.prv-ne-btn{
    background: transparent;
    border: none;
    color: #fff;
}
.stp-btn-1{
    width: 35%;
    float: left;
}
.stp-btn-2{
    width: 30%;
    float: left;
    display: none;
}
.stp-btn-3{
    width: 65%;
    float: left;
    text-align: right;
}
.right-arrow{
    margin-left: 6px;    
}
.left-arrow{
    margin-right: 6px;    
}
.form-check-input{
    margin-right: 10px;    
}
.star-span{
    display: inline-block !important;
    color: red !important;
    font-size: 16px !important;
    margin-left: 6px !important;  
} 
.re-sm-stp{
    padding: 0px 22px;
    margin-top: 18px;
}
.error-message{
    color: white;
    background: #1b5a62;
    text-align: center;
    padding: 7px 0px;
    border-radius: 6px;
}
.form-textarea{
    height: 150px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100%;
}
.input-cl{
    padding: 10px 8px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #000;
}
.oth-input{
    border: none;  
    position: absolute;   
}
.form-check-input {
    position: inherit;
    margin-top: 0;
    margin-left: 0;
}
/******************end request-demo page****************/
@media(max-width :1199px){
    .social_bottom ul li {
    padding: 0 0px;
}
    .revew-us-btn {
    padding: 7px 4px;
    font-size: 10px;
}
    .border_box {
    padding: 15px 0px;
    height: 138px;
}
    .border_box h3 {
    font-size: 10px;
}
    .review-p {
    font-size: 11px !important;
}
    .pl-ft-l-o{
        padding-left: 0;
    }
    .rating-div .rating-ul li {
    padding: 0px 0px;
}
    .social_bottom ul li a {
    width: 30px;
    height: 30px;
    margin: 0px 1px 6px;
}
    .footer {
        padding: 30px 21px;
}
    .single-contact-address-box {
    padding: 40px 12px 32px;
}
    .contact-address-area{
        padding-top: 50px;
    }
    #cssmenu > ul > li > a {
    padding: 25px 12px;
    font-size: 12px;
}
    .logo-sf{
        padding: 0 !important;
    }
    .logo a h1 {
    font-size: 21px;
}
    .logo a h6 {
    font-size: 7.1px;
}
    #cssmenu > ul > li > a {
    padding: 25px 12px;
    font-size: 12px;
}
    .banner-text h1 {
    font-size: 35px;
}
    .service-txt h3 {
    font-size: 32px;
}
    .product-mn-div h2 {
    font-size: 16px;
}
    .single-featured-box .title h3 {
    font-size: 13px;
}
}
@media(max-width :991px){
    .logo-sf {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .contact-address-area{
        padding: 33px 0px 0px;
    }
    .single-contact-address-box {
    padding: 40px 5px 32px;
}
	.d-fl-1 {
    border: 2px solid #fff;
}
	.d-fl-1 img {
    padding: 2px;
}
    .r-pd {
    padding: 0;
}
    .logo a svg {
    left: 0;
}
    .logo a h1 {
    font-size: 22px;
}
    .logo a h6 {
    font-size: 7px;
}
    #cssmenu {
    float: left;
}
    #cssmenu > ul > li > a {
    padding: 27px 6px;
    font-size: 11px;
    font-weight: 600;
}
    #cssmenu > ul > li.has-sub > a {
    padding-right: 6px;
}
    .contact-a-tag {
    padding: 5px 8px;
    margin-top: 17px;
    font-size: 13px;
}
    .banner-text h1 {
    font-size: 29px;
}
    .banner-text {
    margin-top: 7px;
}
    
    .service-txt h3 {
    font-size: 31px;
}
    .service-box {
    padding: 0;
}
    .pro-bx a.btn {
    font-size: 14px;
}
    .pro-bx h3 {
    font-size: 13px; 
}
    .service-sec {
    padding: 20px 0 0;
}
}
@media(max-width :767px){
    /*new-hover-css*/
    .logo-sf {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .abt-txt p {
        font-size: 14px;
        line-height: 23px;
    }
    .pt-5-sm {
        padding-top: 10px !important;
    }
    .contact-address-area{
        padding: 20px 0px 0px;
    }
    .single-contact-address-box {
        margin-top: 0;
        padding: 6px 30px 15px;
        margin-bottom: 20px;
        height: inherit;
}
    .role {
        padding: 0;
        margin: 0px 0 0px 0;
    }
    .d-fl-row{
        display: flex;
        flex-direction: column-reverse;
    }
    .overlay-bio {
    top: 0;
    width: 100%;
    height: 100%;
}
	.footer_bottom {
    	padding: 5px 0 0;
	line-height: 15px;
	}
	.mt-4{
	   margin-top: 0 !important;
	}
	.d-fl-1{
	   margin-bottom: 14px;
	}
	.about_block_ {
    background: linear-gradient(
135deg, rgba(168,0,119,1) 0%, rgb(5 5 5) 0%, rgba(16,51,146,1) 59%, rgba(16,51,146,1) 100%);
}
	.copy_right {
    	   float: inherit;
	}
	.support_link {
    	  float: inherit;
	}
	.support_link ul li a {
    padding: 6px 6px;
}
    .checklist{
        padding-left: 20px;
    }
    .sec-title .title {
    font-size: 38px;
}
    .single-working-process .inner {
    height: inherit;
}
    .flip-box {
    margin-top: 0;
}
    .flip-box-inner {
    transform-style: inherit;
}
    .flip-box-front, .flip-box-back {
    position: inherit;
}
    .flip-box-back{
        display: none;
    }
    .bn-bg-bk{
        background: linear-gradient(135deg, rgba(168,0,119,1) 0%, rgba(30,202,229,1) 0%, rgba(16,51,146,1) 59%, rgba(16,51,146,1) 100%);
    }
    .fixed{
        display: none;
    }
    .top-bar-style2 {
    padding: 3px 0px;
}    
.top-style2-left {
    overflow: hidden;
     text-align: center; 
}    
.top-style2-left p {
    display: block;
    float: none;
}  
.top-style2-left ul {
    /* display: block; */
    /* overflow: hidden; */
    float: none;
    /* padding-left: 0; */
}    
.top-style2-left ul li {
    display: inline-block;
    float: none;
    padding-right: 0;
    margin-right: 0;
    margin: 0 10px;
}
.top-style2-left ul li:before {
    display: none;
}    
    
.top-style2-right {
    overflow: hidden;
    float: none;
    text-align: center;
    padding-top: 0px;
} 
.top-style2-right .top-right-menu {
    display: block;
    overflow: hidden;
    float: none;
    padding-right: 0;
    margin-right: 0;
    text-align: center;
}    
.top-style2-right .top-right-menu:before {
    display: none;
} 
.top-style2-right .top-right-menu li {
    float: none;
    padding-right: 0px;
    margin: 0 5px;
}    
.top-style2-right .topbar-social-links {
    display: block;
    float: none;
    overflow: hidden;
    text-align: center;
    padding: 0;
}    
.top-style2-right .topbar-social-links li {
    float: none;
    padding-right: 0;
    margin: 0 13px;
} 
    .single-featured-box {
    margin-bottom: 20px;
}
    .pr-bg {
    display: none;
}
    .mt-tp-pr {
    margin-top: 0;
}
    .cn-rd{
        margin-left: 0 !important;
    }
    .product-area {
    margin-top: 0;
}
    .product-area {
    padding: 20px 0px 0px;
}
    
    /*new-hover-css*/
    .rq-div {
        width: 100%;
    }
    .rq-demo {
        margin-top: 15px;
    }
    .desktop-device{
    display: none;
}
.mobile-device{
    display: block;
}
    .d-sm-none{
        display: none;
    }
    .header .navbar {
        float: none;
        margin-top: 0;
        display: block;
        padding: 0;
}
 .contact-btn {
    display: inline-block;
    margin-top: -53px;
    margin-left: -42px;
}
    .contact-a-tag {
    padding: 3px 6px;
    margin-top: 13px;
    font-size: 13px;
    margin-left: -130px; 
}
    .r-pd {
        padding: 0;
    }
    .header .navbar-toggler {
    padding: 2px 6px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    float: right;
    margin-top: -47px;
}
    .logo a h6 {
    font-size: 7px;
}
    .logo a h1 {
    font-size: 19px;
}
    .banner-text {
    margin-top: 6px;
}
    .banner-text h1 {
    font-size: 25px;
}
    .contact-btn2{
        display: none; 
    }
    .bx-wrapper {
    margin-bottom: 6px;
}
.service-sec {
    padding: 20px 0 0;
}
    .main-title {
    font-size: 30px;
}
.service-txt h3 {
    font-size: 23px;
}
    .service-txt p {
    margin: 3px 0 0;
} 
    .fl-rt .service-txt {
    text-align: center;
}
    .service-txt {
    padding: 10px 0;
    text-align: center;
}
    .product-wrap {
    padding: 20px 0px 10px;
}
    .head-text h3 {
    font-size: 30px;
}
    .head-text p {
    font-size: 17px;
}
    .mt-5{
        margin-top: 20px !important;
    }
    .pro-bx {
    margin-bottom: 30px;
}
    .gt-st {
    padding: 20px 0px;
}
    .gt-a-1 {
    margin-right: 0;
    margin-bottom: 10px;
}
.footer {
    padding: 17px 24px;
} 
.rating-logo {
    margin: 33px 0px 0px;
}
.footer_bottom {
    padding: 0px 15px;
}
    .copy_right p{
        margin: 0;
    }
    .service-box {
    padding: 0;
    text-align: center;
}
    .service-icon {
    float: none;
    margin-right: 0;
    width: 200px;
    height: 200px;
    display: inline-block;
}
.fl-rt .service-icon {
    float: none;
    margin-right: 0;
    margin-left: 0;
}
/*out-of-home*/
.bio-img {
    position: relative;
    left: 0;
    width: 100%;
    padding-top: 0px;
}
    .bio-img:before {
    position: inherit;
}
    .child-page-banner h2 {
    font-size: 15px;
    text-shadow: inherit;
}
    .main-wrap {
    padding: 20px 0px;
}
    .abt-txt h3 {
    font-size: 16px;
    margin-top: 10px;
}
    .abt-txt ul li {
    padding: 3px 0px;
    font-size: 14px;
}
    .pt-5{
        padding-top: 10px !important;
    }
/*out-of-home*/
}