<app-header></app-header>
    <div class="child-page-banner">       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="assets/images/pos-mn-bg.jpg" class="img-fluid">
                    <h2>Online<span> Market </span>Place </h2>  
                </div>
            </div>
        </div>
    </div>
        <section class="main-wrap">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6">
                	<div class="bio-img">
                    	<img class="img-fluid" src="assets/images/online-marketplace.jpg" alt="" />
                    </div>
                </div>  
                <div class="col-md-6">
                	<div class="abt-txt">
                        <h3>Online Market Place</h3>
                        <ul>
                            <li>This cloud based online market place allows to the business owner to provide a platform to Sellers and Buyers to connect.</li>
                            <li>Sellers display their offerings in terms of products or services and buyers can purchase the same accordingly. The Delivery can be managed also through this application. Business Owner i.e. the owner of the market place can decide the terms and conditions and accordingly the market place will act.</li>
                            <li>Integration of IPG (Internet Payment Gateway) can benefit all the parties as far as payment processing is concerned.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <app-get-startted></app-get-startted>
    <app-footer></app-footer>