<section class="section about_area">
    <div class="container">
        <div class="row">
        <div class="col-md-5">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="assets/images/app-img.png" alt="Paris" style="width:100%;">
                </div>
                <div class="flip-box-back"> 
                    <img src="assets/images/app-img.png" alt="Paris" style="width:100%;">
                </div>
              </div>
            </div>
        </div>
       <div class="col-md-7">          
                <div class="custom_cms new-pra">
                    <div class="abt-txt">  
                        <h3 class="wow fadeInDown" data-wow-duration="2s">About Us</h3>
                        <p class="wow fadeInDown" data-wow-duration="2s">Experience, Excellence &amp; Commitment are the characteristics that describe Flamingostech
                            which is located at the heart of the Kolkata, India.</p>
                        <p class="wow fadeInUp" data-wow-duration="2s">Flamingostech is a synthesis of functional and technical experts with extensive knowledge and
                            profound industrial experience. It has a team of highly skilled young professionals with the
                            passion and expertise in latest technologies. The team is guided by very senior resources,
                            who are in the industry for more than 30 years. Deploying these experts, Flamingostech
                            design, develop and deliver feasibly advanced software applications to make the business of
                            its client grow at a rapid and consistent pace. 
                        </p>
                        <a routerLink="/about" class="contact-a-tag cn-rd">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
