<app-header></app-header>

  <div class="child-page-banner">       
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 p-0">
                  <img src="assets/images/ecom-bg.jpg" class="img-fluid">
                  <h2><span>e-Commerce / Online</span> Store Management Application</h2>  
              </div>
          </div>
      </div>
  </div>
      <section class="main-wrap">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="bio-img">
                      <img class="img-fluid" src="assets/images/ecom-1.jpg" alt="" />
                  </div>
              </div>  
              <div class="col-md-6">
                  <div class="abt-txt">
                      <h3>Online Store Management Application</h3>
                      <p>A complete solution for those retail traders who are eager for market expansion at affordable cost. This solution includes an online store to display the whole range of products in a very user friendly way. It also includes modules to manage Delivery, Inventory, Purchases, Purchases & Sales Return.</p>
                      <p>An automated system facilitates to manage the basic accounting without any manual effort.</p>
                      <p>An integrated payment gateway can create a healthy cash flow position. This application also allows to manage offline (counter) sales from same inventory.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>   
  <app-get-startted></app-get-startted>
 <app-footer></app-footer>