<app-header></app-header>
  <div class="child-page-banner">       
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 p-0">
                  <img src="assets/images/reservation-mn-bg.jpg" class="img-fluid">  
                  <h2><span>Reservation Management System</span> for Hotels with integrated Booking Engine </h2>  
              </div>
          </div>
      </div>
  </div>
      <section class="main-wrap">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="bio-img">
                      <img class="img-fluid" src="assets/images/reservation-mn-1.jpg" alt="" />
                  </div>
              </div>  
              <div class="col-md-6">
                  <div class="abt-txt">
                      <ul>
                          <li>A cloud based Reservation Management System, which enables the Hotels, Resorts, Guest Houses etc. to manage the Bookings sourced from various channels along with Check In, Check Out and Cancellation in one platform.</li>
                          <li>Real time availability of inventory enhances the revenue generation.</li>
                          <li>Integration of dedicated Online Booking Engine gives an edge over the competitors to retain the returning guests. This application also works as a tool to get rid of the arm twisting policies of the various OTAs.</li>
                          <li>This application facilitates to manage multiple properties from one platform.</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>   
  <app-get-startted></app-get-startted>
  <app-footer></app-footer>