<app-header></app-header>
    <div class="child-page-banner">       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="assets/images/online-exam-bg.jpg" class="img-fluid">
                    <h2><span>Market Survey Management</span> with Analytical Reporting System  </h2>  
                </div>
            </div>
        </div>
    </div>
        <section class="main-wrap">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6">
                	<div class="bio-img">
                    	<img class="img-fluid" src="assets/images/marketting_survay.jpg" alt="" />
                    </div>
                </div>  
                <div class="col-md-6">
                	<div class="abt-txt">
                         <p>This solution consists an android app, which is connected with a web application through same database in the same cloud server. Administrators of this application can create survey in terms of questionnaire, scoring methods etc. They can also register surveyors/field workers as users, who will capture data from the samples. If required the administrators canregister samples and even can distribute the samples among the surveyors. Surveyors capture data from the samples based on the environment created by the administrators using the android app from their handheld devices. </p>
                         <p>Based on the data captured by the android app the web application generated number of analytical reports mostly on the real time. Even the geo location of the samples as well as the surveyors can be obtained along with time &amp; date. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <app-get-startted></app-get-startted>
    <app-footer></app-footer>