 <app-header></app-header>
    <div class="child-page-banner">       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="/assets/images/banner/whuus.jpg" class="img-fluid">
                    <h2>Why Us</h2>  
                    
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
      <section class="service-sec-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="custom_cms">
            <div class="text">
                <p>Customized Software Application to manage internal business operations has the potential to revolutionise your organisation. By consolidating all business functions and processes into one coherent whole, you gain massive strategic &amp; operational value and total control of operations. <strong>FlamingosTech</strong> provide wide range of solutions by way of customised software applications in terms of (a) Cloud based ERP &amp; CRM Applications, (b) e-Commerce Applications, (c) Android &amp; iOS Applications and (d) Responsive Web Sites with CMS.</p>
                <p>The world is quickly moving from traditional to digital way of functioning. People prefer to consume digital content, and businesses that have not yet perceived Digital Marketing in their advertising systems need to habituate as soon as possible. <strong>FlamingosTech</strong> promote your business in digital way through Digital Marketing.</p>
                <p><strong>FlamingosTech</strong> facilitate the business entities to manage their internal business operations &amp; interact with their existing or prospective clients in more efficient as well as in absolute cost effective manner in a never before way.</p>
                <p><strong>FlamingosTech</strong> is a synthesis of functional and technical experts with extensive knowledge and profound industrial experience. Started from Kolkata, now <strong>FlamingosTech</strong> has reached clients in 3 continents along with a substantial number of domestic clients across India.</p>
                <div class="about_block_">
                    <h2><span class="logo_text">Flamingos<span>Tech</span></span></h2>
                    <p>entreat you to team up with us.</p>
                    <div class="m_top30"></div>
                    <p>You Dream about the Goal...</p>
                    <p>Together we make it a Reality.</p>
                </div>
            </div>
        </div>
                  </div>
                 
              </div>
              
          </div>
      </section>  
    <section class="gt-st">
        <div class="container">
            <h2 class="main-title clr-wht">Our Solutions</h2>
            <p class="main-title-p">Wide range of solutions for your every business requirement</p>
            <div class="row">
                <div class="col-md-12">
                    <div class="gt-btn">
                        <a href="#" class="gt-a-1">Request a Demo</a>
                        <a href="#" class="gt-a-2">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <app-footer></app-footer>
