<app-header></app-header>
    <div class="child-page-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="assets/images/banner/clients.jpg" class="img-fluid">
                    <h2>Clients</h2>
                    <!--                    <p class="careers-work">Some of the proud associations</p>  -->

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <section class="service-sec-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://www.kmrc.in/" target="_blank" class="border_box"
                                    title="Kolkata Metro Railways Corporation Limited"> <img
                                        src="assets/images/clients/metro.png" class="box_image">
                                    <h3>Kolkata Metro Railways Corporation Limited</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://www.arunsign.com/" target="_blank" class="border_box"
                                    title="Arun Sign Service Pvt. Ltd."> <img src="assets/images/clients/arunsign.png"
                                        class="box_image">
                                    <h3> Arun Sign Service Pvt. Ltd.</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="https://bhadreswargroup.com/" target="_blank"  class="border_box" title="BRM"> <img
                                        src="assets/images/clients/brm-logo.png" class="box_image">
                                    <h3>Balaji Ads</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">  
                            <div class="specialization client_listing">
                                <a href="https://www.addatimes.com/" target="_blank"  class="border_box" title="Addatimes"> <img
                                        src="assets/images/clients/addatime-logo.png" class="box_image">
                                    <h3>addatimes</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="javascript:void(0)" target="_blank" class="border_box" title="Sampark"> <img
                                        src="assets/images/clients/sampark.jpg" class="box_image">
                                    <h3>Sampark Advertising &amp; Media Pvt Ltd</h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="javascript:void(0)"  target="_blank" class="border_box" title="RNS Pvt. Ltd."> <img
                                        src="assets/images/clients/rns.jpg" class="box_image">
                                    <h3>RNS Pvt. Ltd.</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="javascript:void(0)" target="_blank"  class="border_box" title="Vodafone"> <img
                                        src="assets/images/clients/vodafone.jpg" class="box_image">
                                    <h3>Vodafone Mobile Services Ltd - (ROB)</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://www.youngautomobile.com/" target="_blank" class="border_box"
                                    title="Young Automobile"> <img src="assets/images/clients/young_auto.jpg"
                                        class="box_image">
                                    <h3>Young Automobile</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://www.solitarynook.com/" target="_blank" class="border_box"
                                    title="Solitary Nook"> <img src="assets/images/clients/solitary.jpg"
                                        class="box_image">
                                    <h3>Solitary Nook Resort &amp; Tourism</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://www.absolutesportsqatar.com/" target="_blank" class="border_box"
                                    title="Absolute Sports"> <img src="assets/images/clients/absolute.jpg"
                                        class="box_image">
                                    <h3>Absolute Sports</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="https://www.faceliftcorp.com/" target="_blank" class="border_box"
                                    title="Facelift"> <img src="assets/images/clients/facelift.png" class="box_image">
                                    <h3>Facelift Interiors</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="https://www.jmdresort.com/" target="_blank" class="border_box"
                                    title="JMD Resort"> <img src="assets/images/clients/jmd.png" class="box_image">
                                    <h3>JMD Resort</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="javascript:void(0)"  target="_blank" class="border_box" title="Panthasala"> <img
                                        src="assets/images/clients/panthasala.jpg" class="box_image">
                                    <h3>Panthasala</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://pkbanerjee.com/" target="_blank" class="border_box" title="PK Banerjee">
                                    <img src="assets/images/clients/pkb-logo.svg" class="box_image">
                                    <h3>PK Banerjee</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="https://www.meerabasu.in/" target="_blank" class="border_box"
                                    title="Meera Basu"> <img src="assets/images/clients/meera_basu.png"
                                        class="box_image">
                                    <h3>Meera Apparels Pvt Ltd</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://www.dooarshiniresort.com/" target="_blank" class="border_box"
                                    title="Dooarshini Resort"> <img src="assets/images/clients/dooars.png"
                                        class="box_image">
                                    <h3>Dooarshini Resort</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://www.fluenceevents.com/" target="_blank" class="border_box"
                                    title="Fluence Event Media &amp; ICT Solutions"> <img
                                        src="assets/images/clients/fluence.png" class="box_image">
                                    <h3>Fluence Event Media &amp; ICT Solutions</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://gmukh.com/" target="_blank" class="border_box"
                                    title="Goumukh International"> <img src="assets/images/clients/g_mukh.png"
                                        class="box_image">
                                    <h3>Goumukh International</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://www.cyncolitenauticx.com/" target="_blank" class="border_box"
                                    title="Cyncolite Marine &amp; Seapm Nauticx (CMSN)"> <img
                                        src="assets/images/clients/cyncolit.jpg" class="box_image">
                                    <h3>Cyncolite Marine &amp; Seapm Nauticx (CMSN)</h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://www.translogship.com/" target="_blank" class="border_box"
                                    title="Translog-Ship">
                                    <img src="assets/images/clients/translog_ship.png" class="box_image">
                                    <h3>Trans Log-Ship Pvt. Ltd.</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="https://www.netwood.tv/audition/" target="_blank" class="border_box"
                                    title="Netwood">
                                    <img src="assets/images/clients/StarLogo.png" class="box_image">
                                    <h3>Netwood</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="https://youthid.in/" target="_blank" class="border_box" title="Youthid">
                                    <img src="assets/images/clients/youthid.png" class="box_image">
                                    <h3>Youthid</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://durgamoyee.in/" target="_blank" class="border_box"
                                    title="Durgamoyee Academy : School Management System">
                                    <img src="assets/images/clients/durgamoyee.png" class="box_image">
                                    <h3>Durgamoyee Academy</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="https://myplexus.com/" target="_blank" class="border_box" title="myplexus">
                                    <img src="assets/images/clients/myplexus_logo.png" class="box_image">
                                    <h3>myplexus</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="https://purpleinterior.in/" target="_blank" class="border_box"
                                    title="Purple interior house pvt ltd">
                                    <img src="assets/images/clients/purple-new-logo-final.png" class="box_image">
                                    <h3>Purple interior house pvt ltd</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="https://sujitbose.in/" target="_blank" class="border_box" title="Sujit Bose">
                                    <img src="assets/images/clients/sujitbose.jpg" class="box_image">
                                    <h3>Sujit Bose</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="https://www.mioamigo.com/" target="_blank" class="border_box"
                                    title="MioAmigo | Meet people and contact them">
                                    <img src="assets/images/clients/mio-amigo.png" class="box_image">
                                    <h3>MioAmigo </h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://bibhahealthcare.com/" target="_blank" class="border_box"
                                    title="Bibha Healthcare | Diagnostic Center Near Howrah">
                                    <img src="assets/images/clients/bibha-healthcare.png" class="box_image">
                                    <h3>Bibha Healthcare </h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://18.138.56.171" target="_blank" class="border_box"
                                    title="signature advertising">
                                    <img src="assets/images/clients/signature.png" class="box_image">
                                    <h3>Signature Advertising </h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://13.251.30.36/" target="_blank" class="border_box" title="art cottage">
                                    <img src="assets/images/clients/art-cottage.png" class="box_image">
                                    <h3>Art Cottage </h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="http://pvspl.net/" target="_blank" class="border_box" title="PVS">
                                    <img src="assets/images/clients/pvs.png" class="box_image">
                                    <h3>PVS </h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                           <a href="https://digitaldurgapuja.com/" target="_blank" class="border_box" title="Digital Durga"> 
                             <img src="assets/images/clients/digital-durga.png" class="box_image">
                             <h3>Digital Durga </h3>  
                         </a>
                         </div> 
                       </div>
                       <div class="col-md-3">
                            <div class="specialization client_listing">
                           <a href="http://www.biogreenprojects.com/" target="_blank" class="border_box" title="Biodisel"> 
                             <img src="assets/images/clients/biodisel.png" class="box_image">
                             <h3>Biodisel</h3>  
                         </a>
                         </div> 
                       </div>
                       <div class="col-md-3">
                            <div class="specialization client_listing">
                           <a href="https://raichakriverfront.com/" target="_blank" class="border_box" title="Raichak River Front"> 
                             <img src="assets/images/clients/riverfont.png" class="box_image">
                             <h3>Raichak River Front</h3>  
                         </a>
                         </div> 
                       </div>
                       <div class="col-md-3">
                            <div class="specialization client_listing">
                           <a href="https://tmsevents.in/" target="_blank" class="border_box" title="TMS"> 
                             <img src="assets/images/clients/tms.png" class="box_image">
                             <h3>TMS</h3>  
                         </a>
                         </div> 
                       </div>
                       <div class="col-md-3">
                            <div class="specialization client_listing">
                           <a href="https://www.facebook.com/search/top?q=johar" target="_blank" class="border_box" title="Johar"> 
                             <img src="assets/images/clients/johar.png" class="box_image">
                             <h3>Johar</h3>  
                         </a>
                         </div> 
                       </div>
                       <div class="col-md-3">
                            <div class="specialization client_listing">
                           <a href="https://www.newocoin.com/" target="_blank" class="border_box" title="Newocoin"> 
                             <img src="assets/images/clients/newocoin.png" class="box_image">  
                             <h3>Newocoin</h3>  
                         </a>
                         </div> 
                       </div>
                       <div class="col-md-3">
                            <div class="specialization client_listing">
                           <a href="https://gopalprinters.com/" target="_blank" class="border_box" title="Gopal Printers"> 
                             <img src="assets/images/clients/gopal-printer.png" class="box_image">  
                             <h3>Gopal Printers</h3>   
                         </a>
                         </div> 
                       </div>
                       <div class="col-md-3">
                            <div class="specialization client_listing">
                           <a href="https://www.karukrit.com/" target="_blank" class="border_box" title="Karukrit"> 
                             <img src="assets/images/clients/karukriti.png" class="box_image">  
                             <h3>Karukrit</h3>    
                         </a>
                         </div> 
                       </div>
                       
                       <div class="col-md-3">
                            <div class="specialization client_listing">
                           <a href="https://www.facebook.com/writergopinathpaul/" target="_blank" class="border_box" title="Writer Gopinath Paul"> 
                             <img src="assets/images/clients/gopinath.png" class="box_image">
                             <h3>Writer Gopinath Paul</h3>  
                         </a>
                         </div> 
                       </div>
                       <div class="col-md-3">
                            <div class="specialization client_listing">
                           <a href="https://www.bypinks.com/" target="_blank" class="border_box" title="byPinks"> 
                             <img src="assets/images/clients/bypinks.png" class="box_image">
                             <h3>byPinks</h3>  
                         </a>
                         </div> 
                       </div>
                       <div class="col-md-3">
                            <div class="specialization client_listing">
                           <a href="https://www.instagram.com/grossbindia/?hl=en" target="_blank" class="border_box" title="Gross B"> 
                             <img src="assets/images/clients/gross-b.png" class="box_image">
                             <h3>Gross B</h3>   
                         </a>
                         </div> 
                       </div>
                       <div class="col-md-3">
                        <div class="specialization client_listing">
                            <a href="javascript:void(0)" target="_blank"  class="border_box" title="Dius"> <img
                                    src="assets/images/clients/dius.jpg" class="box_image">
                                <h3>Dius Brand Holdings Private Limited</h3>
                            </a>
                        </div>
                        </div>
                        <div class="col-md-3">
                            <div class="specialization client_listing">
                                <a href="javascript:void(0)" target="_blank"  class="border_box" title="Balaji Ads"> <img
                                        src="assets/images/clients/balaji.jpg" class="box_image">
                                    <h3>Balaji Ads</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <app-get-startted></app-get-startted>
    <app-footer></app-footer>