<app-header></app-header>

<div class="child-page-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <img src="assets/images/banner/projects.jpg" class="img-fluid">
                <h2> Projects</h2>

            </div>
        </div>
    </div>
</div>

<section class="service-sec-body">
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="http://www.absolutesportsqatar.com/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> 
                                    <img src="assets/images/projects/img1.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>Absolute Sports Academy, Qatar</h4>
                                    <p>Sports Academy</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="http://arunsign.in/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/img2.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>Arunsign</h4>
                                    <p>Advertising &amp; Publicity</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="https://www.bypinks.com/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/img3.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>Bypinks</h4>
                                    <p>Online Aggregator for Food items</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="https://www.dooarshiniresort.com/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/img4.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>Dooarshini Resort </h4>
                                    <p>Hotels &amp; Hospitality</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/img5.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>Fluence</h4>
                                    <p>Event Management</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="https://www.jmdresort.com/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/img6.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>JMD Resort</h4>
                                    <p>Hotels &amp; Hospitality</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="https://meerabasu.in/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/img7.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>Meera Basu</h4>
                                    <p>Online Saree Store</p>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/img8.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>Goumukh International</h4>
                                    <p>Business Consultancy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="http://www.kmrc.in/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/metrorail.jpg"
                                        alt=""> </div>
                                <div class="item_portfolio_text">
                                    <h4>Kolkata Metro Rail Corporation</h4>
                                    <p>PSU</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/pk.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>PK Banerjee</h4>
                                    <p>Sports Personal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/cyncolite.jpg"
                                        alt=""> </div>
                                <div class="item_portfolio_text">
                                    <h4>CMSN</h4>
                                    <p>Maritime Consultancy</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="https://www.netwood.tv/audition/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/netwood-image.jpg"
                                        alt=""> </div>
                                <div class="item_portfolio_text">
                                    <h4>Netwood</h4>
                                    <p>OTT platforms</p>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="https://youthid.in/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/youthid.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>YOUTHiD</h4>
                                    <p> Online cosmetics, beauty products, men &amp; women’s fashion &amp; lifestyle</p>
                                </div>
                            </div>
                        </a>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="http://durgamoyee.in/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/durgamoyee.jpg"
                                        alt=""> </div>
                                <div class="item_portfolio_text">
                                    <h4>Durgamoyee Academy</h4>
                                    <p> School Management System</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="https://myplexus.com/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/myplexus.jpg"
                                        alt=""> </div>
                                <div class="item_portfolio_text">
                                    <h4>Myplexus</h4>
                                    <p>Compare Mutual Funds In India</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="https://purpleinterior.in/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/purple.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>Purple interior house pvt ltd</h4>
                                    <p>Interior Design In Kolkata</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="https://sujitbose.in/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/sujitbose.jpg"
                                        alt=""> </div>
                                <div class="item_portfolio_text">
                                    <h4>Sujit Bose</h4>
                                    <p>৩৬৫ দিন ২৪ ঘন্টা আপনাদের সাথে আপনাদের পাশে</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="https://www.mioamigo.com/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/mio-amigo.jpg"
                                        alt=""> </div>
                                <div class="item_portfolio_text">
                                    <h4>MioAmigo </h4>
                                    <p>Meet people and contact them</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="http://bibhahealthcare.com/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/bibha.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>Bibha Healthcare </h4>
                                    <p>Diagnostic Center</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="http://18.138.56.171" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/signatures.jpg"
                                        alt=""> </div>
                                <div class="item_portfolio_text">
                                    <h4>Signature Advertising</h4>
                                    <p>Outdoor Hoarding </p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_portfolio">
                            <a href="http://pvspl.net/" class="item_portfolio_link" target="_blank">
                            <div class="item_portfolio_link">
                                <div class="item_portfolio_image"> <img src="assets/images/projects/pvs.jpg" alt="">
                                </div>
                                <div class="item_portfolio_text">
                                    <h4>Premier Vigilance &amp; Security Private Limited</h4>
                                    <p> Security Service</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<app-get-startted></app-get-startted>
<app-footer></app-footer>