<section class="top-bar-style2">
  <div class="top-style2 clearfix">
      <div class="top-style2-left">
          <ul>
              <li><a href="tel:+91 33 4604 9795">+91 33 4604 9795</a> / <a href="tel:9830267481">9830267481</a> / <a href="tel:9831129006">9831129006</a></li>
              <li><a href="mailto:devops@flamingostech.com">devops@flamingostech.com</a></li>

          </ul>
      </div>    
      <div class="top-style2-right">   
          <ul class="topbar-social-links">
              <li><a href="http://www.facebook.com/flamingostech" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/company/flamingos-tech" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/flamingos_tech" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
      </div>
  </div>
</section>

<section class="header r-pd">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 col-md-3 logo-sf"> 
                <div class="logo">
                    <a routerLink="/" routerLinkActive="active">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 89.2 174.1" enable-background="new 0 0 89.2 174.1" xml:space="preserve">
                    <path fill="#009FB5" d="M0,160.2V38.3c0,0,1.9-12.1,10.5-21.1C19.1,8.3,31.6-0.7,55.2,0c36.6,1.1,33.9,26.3,33.9,26.3 s-9.9-9.4-23.7-1.2S34.4,39.2,34.7,50.1c0.3,10.8,9.9,13.8,9.9,13.8s1-15,8.9-16.9c5.1-1.2,12.3,0.1,16.4,2.8 c2.9,1.9,6.5,1.6,7.5-0.6c1-2.5,4.5-2.8,4.4-0.1c-0.1,5,3.4,26.9-16.8,27.2c-20.4,0.3-25.3,0.6-25.3,0.6v95.9 C39.7,172.7,5,180.3,0,160.2z M59.8,30.4c-2.2,0-4,1.8-4,4c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4C63.8,32.2,62,30.4,59.8,30.4z"></path> </svg>
                       <h1>Flamingos<span>Tech</span></h1>
                        <h6>Accomplishing Dreams Together</h6>
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-md-9">
                <div class="contact-btn">
                    <a routerLink="/contact-us" routerLinkActive="active" class="contact-a-tag">Contact Us</a>
                </div>
                <div class="menu-div " id="cssmenu">
              <ul>
                 <li ><a routerLink="/" >Home</a></li>
                 <li [routerLinkActive]="['active']"><a routerLink="/about" >About Us</a></li>
                 <li [routerLinkActive]="['active']"><a routerLink="/services" >Services</a></li>
                 <li [routerLinkActive]="['active']"><a href="javascript:void(0);">Solution <i class="fa fa-angle-down"></i></a>
                  <ul>
                    <li><a routerLink="/cloud" routerLinkActive="active">Cloud based custom ERP & CRM Application</a></li>
                    <li><a routerLink="/ecommerce" routerLinkActive="active">E-Commerce Application</a></li>
                    <li><a routerLink="/android-ios" routerLinkActive="active">Android & iOS Mobile App</a></li>
                    <li><a routerLink="/website" routerLinkActive="active">Responsive Website with CMS</a></li>
                    <li><a routerLink="/digital-marketing" routerLinkActive="active">Digital Marketing</a></li>
                    <li><a routerLink="/data-management" routerLinkActive="active">Data Management</a></li>
                  </ul>
                 </li>                     
                 <li [routerLinkActive]="['active']"><a href="javascript:void(0);">Products <i class="fa fa-angle-down"></i></a>
                  <ul>
                    <li><a routerLink="/out-of-home" routerLinkActive="active">Out of Home (OOH) Advertising Management Application</a></li>
                    <li><a routerLink="/ecom-manage" routerLinkActive="active">e-Commerce / Online Store Management Application</a></li>
                    <li><a routerLink="/st-retail" routerLinkActive="active">Standalone Retail Outlet (POS) Management System</a></li>
                    <li><a routerLink="/retail-chain" routerLinkActive="active">Retail Chain with Inventory Management System</a></li>
                    <li><a routerLink="/rms" routerLinkActive="active">Reservation Management System for Hotels with integrated Booking Engine</a></li>
                    <li><a routerLink="/property-management-system" routerLinkActive="active">Property Management System for the Hotels</a></li>
                    <li><a routerLink="/pos-management-system" routerLinkActive="active">POS Management System for stand alone Restaurant, Bar, Cafe, Salon, Spa etc.</a></li>
                    <li><a routerLink="/online-market-place" routerLinkActive="active">Online Market Place</a></li>
                    <li><a routerLink="/online-examination-management" routerLinkActive="active">Online Examination Management System</a></li>
                    <li><a routerLink="/market-survey-management" routerLinkActive="active">Market Survey Management with Analytical Reporting System</a></li>
                    <li><a routerLink="/fleet-employee-management" routerLinkActive="active">Fleet / Employee Management System with Real Time Geo Location Tracking Facility</a></li>
                    <li><a routerLink="/turnkey-projects" routerLinkActive="active">Turnkey Project / Event Management Application with Accounting & Inventory Management System</a></li>  
                  </ul>
                 </li> 
                 <li [routerLinkActive]="['active']"><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
                 <li [routerLinkActive]="['active']"><a routerLink="/clients" routerLinkActive="active">Clients</a></li>  
              </ul>
            </div>
            <!-- mobile-device -->
            <div class="mobile-device">

                <div id="mySidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
                  <a routerLink="/" routerLinkActive="active">
                    <div class="span4 proj-div">Home</div>
                  </a>
                  <a routerLink="/about" [routerLinkActive]="['active']" >
                    <div class="span4 proj-div">About Us</div>
                  </a>
                  <a routerLink="/services" [routerLinkActive]="['active']">
                    <div class="span4 proj-div">Services</div>
                  </a>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-expanded="false">
                      Solution
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" routerLink="/cloud" routerLinkActive="['active']">Cloud based custom ERP & CRM Application</a>
                      <a class="dropdown-item" routerLink="/cloud" routerLinkActive="['active']">E-Commerce Application</a>
                      <a class="dropdown-item" routerLink="/ecommerce" routerLinkActive="['active']">Android & iOS Mobile App</a>
                      <a class="dropdown-item" routerLink="/android-ios" routerLinkActive="['active']">Responsive Website with CMS</a>
                      <a class="dropdown-item" routerLink="/digital-marketing" routerLinkActive="['active']">Digital Marketing</a>
                      <a class="dropdown-item" routerLink="/data-management" routerLinkActive="['active']">Data Management</a>
                    </div>
                  </div>
              
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-expanded="false">
                      Products
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" routerLink="/out-of-home" [routerLinkActive]="['active']">Out of Home (OOH) Advertising Management Application</a>
                      <a class="dropdown-item" routerLink="/ecom-manage" [routerLinkActive]="['active']">e-Commerce / Online Store Management Application</a>
                      <a class="dropdown-item" routerLink="/st-retail" [routerLinkActive]="['active']">Standalone Retail Outlet (POS) Management System</a>
                      <a class="dropdown-item" routerLink="/retail-chain" [routerLinkActive]="['active']">Retail Chain with Inventory Management System</a>
                      <a class="dropdown-item" routerLink="/rms" [routerLinkActive]="['active']">Reservation Management System for Hotels with integrated Booking Engine</a>
                      <a class="dropdown-item" routerLink="/property-management-system" [routerLinkActive]="['active']">Property Management System for the Hotels</a>
                      <a class="dropdown-item" routerLink="/pos-management-system" [routerLinkActive]="['active']">POS Management System for stand alone Restaurant, Bar, Cafe, Salon, Spa
                        etc.</a>
                      <a class="dropdown-item" routerLink="/online-market-place" [routerLinkActive]="['active']" >Online Market Place</a>
                      <a class="dropdown-item" routerLink="/online-market-place" [routerLinkActive]="['active']" >Online Examination Management System</a>
                      <a class="dropdown-item" routerLink="/market-survey-management" [routerLinkActive]="['active']" >Market Survey Management with Analytical Reporting System</a>
                      <a class="dropdown-item" routerLink="/fleet-employee-management" [routerLinkActive]="['active']" >Fleet / Employee Management System with Real Time Geo Location Tracking
                        Facility</a>
                      <a class="dropdown-item" routerLink="/turnkey-projects" [routerLinkActive]="['active']">Turnkey Project / Event Management Application with Accounting & Inventory
                        Management System</a>
                    </div>
                  </div>
                  <a routerLink="/projects" routerLinkActive="['active']">
                    <div class="span4 proj-div">Projects</div>
                  </a>
                  <a routerLink="/clients" routerLinkActive="['active']">
                    <div class="span4 proj-div">Clients</div>
                  </a>
                </div>
                <span class="sidebar-span" (click)="openNav()" >&#9776;</span>
              </div>
             <!-- mobile-device -->
            </div>
        </div>
    </div>  
</section>
