<app-header></app-header>
  <div class="child-page-banner">       
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 p-0">
                  <img src="assets/images/property-bg.jpg" class="img-fluid">
                  <h2><span>Property Management System</span> for the Hotels  </h2>  
              </div>
          </div>
      </div>
  </div>
      <section class="main-wrap" id="about">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="bio-img">
                      <img class="img-fluid" src="assets/images/property-1.jpg" alt="" />
                  </div>
              </div>  
              <div class="col-md-6">
                  <div class="abt-txt">
                      <h3>Reservation Management System with integrated Online Booking Engine</h3>
                       <p>A cloud based Reservation Management System, which enables the Hotels, Resorts, Guest Houses etc. to manage the Bookings sourced from various channels along with Check In, Check Out and Cancellation in one platform.</p>
                       <p>Real time availability of inventory enhances the revenue generation.</p>
                       <p>Integration of dedicated Online Booking Engine gives an edge over the competitors to retain the returning guests. This application also works as a tool to get rid of the arm twisting policies of the various OTAs.</p>
                       <p>This application facilitates to manage multiple properties from one platform.</p>
                  </div>
              </div>
          </div>
          
          <div class="row flex-row-reverse p-t">
              <div class="col-md-6">
                  <div class="bio-img posi-rt">
                      <img class="img-fluid" src="assets/images/property-2.jpg" alt="" /> 
                  </div>
              </div>  
              <div class="col-md-6">
                  <div class="abt-txt pt-5">
                      <h3>Property Management System </h3>
                       <p>This cloud based software application is also capable to handle entire Hotel operations starting from Reservation, Check In, Room Allotment, Change of Rooms, Cancellation. </p>
                      <p>It is also capable to manage on premises POS like Restaurants, Bars, Coffee Shops, Salons, Laundry etc. </p>
                      <p>Other cost like Kitchen, Maintenance, House Keeping can also be managed through this software application. This software captures transaction on the basis of each and every individuals cost centres , which includes all the revenue generating units including rooms, banquets, POS and non revenue generating units like House Keeping ,Front Desk, Maintenance etc.</p>
                      <p>One can manage multiple properties under one ownership through this application, if required.</p>
                  </div>
              </div>
          </div>
          <div class="row p-t">
              <div class="col-md-6">
                  <div class="bio-img">
                      <img class="img-fluid" src="assets/images/property-3.jpg" alt="" />
                  </div>
              </div>  
              <div class="col-md-6">
                  <div class="abt-txt mt-tp">
                      <h3>POS Management System for Restaurant, Bar, Cafe, Salon, Spa etc.</h3>
                      <p>An integrated POS management system includes modules to manage Purchases, Purchases Return, Vendor, Sales, Customer, Sales Return, Bill of Materials (BOM), Receipts, Payments, Invoicing.</p>
                      <p>Based on the captured data this software application facilitates the management to obtain a wide range of analytical reports.</p>
                      <p>Since this is a cloud based application hence it allows the users to access from anywhere in the world through secured login credentials.</p>
                      <p>This application can also manage multiple POS under one ownership.</p>
                  </div>
              </div>
          </div>
          <div class="row flex-row-reverse p-t">
              <div class="col-md-6">
                  <div class="bio-img posi-rt">
                      <img class="img-fluid" src="assets/images/ooh-4.jpg" alt="" />
                  </div>
              </div>  
              <div class="col-md-6">
                  <div class="abt-txt pt-5">
                      <h3>Key Features</h3>
                      <h4>Access Rights</h4>
                      <ul class="">
                          <li>Accessible from anywhere as it is a Cloud Based Application</li>
                          <li>Role based access right to all the users of this application</li>
                          <li>Entire flexibility to the Management to create / modify User Roles as per requirement.</li>
                          <li>Entire flexibility to the Administrators / Management to allot / shuffle any user from one Role to the other.</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row p-t">
              <div class="col-md-6">
                  <div class="bio-img">
                      <img class="img-fluid" src="assets/images/ooh-5.jpg" alt="" />
                  </div>
              </div>  
              <div class="col-md-6">
                  <div class="abt-txt mt-tp">
                      <h4>Reservation – On & Offline Booking Engine</h4>
                      <ul>
                          <li>Reservation/Booking of Rooms by the Management and Reservation desk from the Admin Panel</li>
                          <li>Allowing Travel Agents to login to the application to do the Booking at their own.</li>
                          <li>Allowing Guests to login to the application to do the Booking at their own with integrated IPG.</li>
                      </ul>
                      <h4>Cancellation</h4>
                      <ul>
                          <li>Cancellation of confirmed Booking by the Management and Reservation desk from the Admin Panel</li>
                          <li>Automatic adjustment of commercials upon Cancellation according to the defined Cancellation Policy</li>
                          <li>Rights to the Management to overwrite the automatically adjusted Cancellation Charge</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row flex-row-reverse p-t">
              <div class="col-md-6">
                  <div class="bio-img posi-rt">
                      <img class="img-fluid" src="assets/images/ooh-2.jpg" alt="" />
                  </div>
              </div>  
              <div class="col-md-6">
                  <div class="abt-txt pt-5">
                      <h4>Availability</h4>
                      <ul class="">
                          <li>Optimum utilisation of the availability of the Rooms as all the entities will share common inventory</li>
                      </ul>
                      <h4>Check In, Check Out & Folio</h4>
                      <ul>
                           <li>Check In by the Front Desk users based on the Booking</li>
                           <li>Digitalisation of the Check In documents and information to keep the management safe from any legal hazards.</li>
                           <li>Automatic creation of Folio upon each Check In</li>
                           <li>Folio centric transactions to manage error free accounting in respect to each Check In</li>
                           <li>Real time reports in terms of outstanding pertaining  to each Guest.</li>
                           <li>Generation of Final Bill at a single click at any point of time.</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row p-t">
              <div class="col-md-6">
                  <div class="bio-img">
                      <img class="img-fluid" src="assets/images/ooh-3.jpg" alt="" />
                  </div>
              </div>  
              <div class="col-md-6">
                  <div class="abt-txt mt-tp">
                      <h4>Salient Features </h4>
                      <ul class="">
                          <li>POS Management e.g. Restaurant, Bar, Café, Swimming Pool, Salon, Spa, Book Store etc.</li>
                          <li>Concept of Cost Centre to ascertain unit wise profitability</li>
                          <li>Asset Management</li>
                          <li>Purchase &amp; Vendor Management</li>
                          <li>Sales</li>
                          <li>Cash Flow Management</li>
                          <li>Guest Data Management &amp; Analysis</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>   
  <app-get-startted></app-get-startted>
  <app-footer></app-footer>