<app-header></app-header>
    <div class="child-page-banner">       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="assets/images/pos-bg.jpg" class="img-fluid" alt="">
                    <h2>Standalone Retail Outlet <span>(POS)</span> Management System</h2>  
                </div>
            </div>
        </div>
    </div>
        <section class="main-wrap">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6">
                	<div class="bio-img">
                    	<img class="img-fluid" src="assets/images/pos-1.jpg" alt="" />
                        <div class="overlay-bio"></div>
                    </div>
                </div>  
                <div class="col-md-6">
                	<div class="abt-txt">
                        <ul>
                            <li>This cloud based software application is capable to manage the entire operations of any kind of Retail Outlet.</li>
                            <li>It manages Purchases, Purchases Return, Vendor Accounts, Counter Sales, Sales Return, Customer Accounts, Receipts, Payments &amp; Inventory.</li>
                            <li>This application is capable to handle multiple billing counters within a single retail store.</li>
                            <li>As this is a cloud based application hence the business owner can monitor the regular activities and reports from anywhere in the world on real time.</li>  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <app-get-startted></app-get-startted> 
    <app-footer></app-footer>